pi_tiktok_stack/n8n_workflow.json
{
  "name": "TikTok Gaming Pipeline (6-Gate HITL)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "triggerAtHour": 9 }] }
      },
      "id": "tt-schedule",
      "name": "Daily 9AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tiktok-manual",
        "responseMode": "responseNode"
      },
      "id": "tt-webhook-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 520],
      "webhookId": "tiktok-manual"
    },
    {
      "parameters": {
        "jsCode": "const runId = require('crypto').randomUUID();\nreturn [{ json: { content_type: 'trending_news', duration: 45, run_id: runId } }];"
      },
      "id": "tt-set-defaults",
      "name": "Set Defaults",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "command": "cd /home/node/project && python -c \"from agents.planner_agent import PlannerAgent; import json; p = PlannerAgent(); print(json.dumps(p.run()))\""
      },
      "id": "tt-step0",
      "name": "0. Generate Plan",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [700, 400]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry { const plan = JSON.parse(lines[lines.length - 1]);\n  return [{ json: { ...plan, run_id: $('Set Defaults').first().json.run_id } }];\n} catch (e) { throw new Error('Parse plan failed'); }"
      },
      "id": "tt-parse-plan",
      "name": "Parse Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [950, 400]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && python -c \"from services.mattermost_service import MattermostService; import os; mm = MattermostService(os.environ[\\\"MATTERMOST_URL\\\"], os.environ[\\\"MATTERMOST_BOT_TOKEN\\\"], os.environ[\\\"MATTERMOST_CHANNEL_ID\\\"]); mm.send_gate_approval(0, \\\"خطة تيك توك جديدة\\\", {\\\"الموضوع\\\": \\\"' + ($json.proposed_topic || '').replace(/\"/g, '') + '\\\", \\\"النوع\\\": \\\"' + ($json.proposed_content_type || '') + '\\\"}, \\\"' + $json.run_id + '\\\", budget_status=\\\"' + ($json.budget_status || '') + '\\\")\"' }}"
      },
      "id": "tt-gate0",
      "name": "Gate 0: Plan Approval",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1200, 400],
      "notes": "Pipeline PAUSES — waiting for plan approval."
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "tiktok-approve",
        "responseMode": "lastNode"
      },
      "id": "tt-webhook-approve",
      "name": "Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 900],
      "webhookId": "tiktok-approve"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "tiktok-reject",
        "responseMode": "lastNode"
      },
      "id": "tt-webhook-reject",
      "name": "Rejection Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 1800],
      "webhookId": "tiktok-reject"
    },
    {
      "parameters": {
        "jsCode": "const q = $input.first().json.query || $input.first().json;\nreturn [{ json: { gate: parseInt(q.gate || '0'), run_id: q.run_id || '', action: q.action || 'approve' } }];"
      },
      "id": "tt-parse-approval",
      "name": "Parse Gate Approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 900]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "outputIndex": 0, "value": 0 },
            { "outputIndex": 1, "value": 1 },
            { "outputIndex": 2, "value": 2 },
            { "outputIndex": 3, "value": 3 },
            { "outputIndex": 4, "value": 4 },
            { "outputIndex": 5, "value": 5 }
          ]
        },
        "dataType": "number",
        "value": "={{ $json.gate }}"
      },
      "id": "tt-gate-router",
      "name": "Gate Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [700, 900]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && python -m pipeline.step1_scrape_news --source all --run-id ' + $json.run_id }}"
      },
      "id": "tt-step1",
      "name": "1. Scrape News",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1000, 500]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry { const data = JSON.parse(lines[lines.length - 1]);\n  return [{ json: { ...data, run_id: $('Parse Gate Approval').first().json.run_id } }];\n} catch (e) { return [{ json: { success: true, run_id: $('Parse Gate Approval').first().json.run_id } }]; }"
      },
      "id": "tt-parse-step1",
      "name": "Parse News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && python -c \"from services.mattermost_service import MattermostService; import os; mm = MattermostService(os.environ[\\\"MATTERMOST_URL\\\"], os.environ[\\\"MATTERMOST_BOT_TOKEN\\\"], os.environ[\\\"MATTERMOST_CHANNEL_ID\\\"]); mm.send_gate_approval(1, \\\"تم جمع الأخبار بنجاح\\\", {\\\"المصادر\\\": \\\"RSS + Google + Reddit\\\"}, \\\"' + $json.run_id + '\\\")\"' }}"
      },
      "id": "tt-gate1",
      "name": "Gate 1: News Approval",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1500, 500],
      "notes": "Pipeline PAUSES — waiting for news data approval."
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && python -m pipeline.step2_generate_script --type trending_news --duration 45 --run-id ' + $json.run_id }}"
      },
      "id": "tt-step2",
      "name": "2. Generate Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1000, 700]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry { const data = JSON.parse(lines[lines.length - 1]);\n  return [{ json: { ...data, run_id: $('Parse Gate Approval').first().json.run_id } }];\n} catch (e) { throw new Error('Parse script failed'); }"
      },
      "id": "tt-parse-step2",
      "name": "Parse Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 700]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && python -m pipeline.step3_validate_script --script-id ' + $json.script_id + ' --run-id ' + $json.run_id }}"
      },
      "id": "tt-step3",
      "name": "3. Validate Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1500, 700]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry { const data = JSON.parse(lines[lines.length - 1]);\n  return [{ json: { ...data, run_id: $('Parse Gate Approval').first().json.run_id } }];\n} catch (e) { throw new Error('Parse validation failed'); }"
      },
      "id": "tt-parse-step3",
      "name": "Parse Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 700]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && python -c \"from services.mattermost_service import MattermostService; import os; mm = MattermostService(os.environ[\\\"MATTERMOST_URL\\\"], os.environ[\\\"MATTERMOST_BOT_TOKEN\\\"], os.environ[\\\"MATTERMOST_CHANNEL_ID\\\"]); mm.send_gate_approval(2, \\\"السكريبت جاهز — تقييم: ' + ($json.overall_score || 0) + '/100\\\", {\\\"التقييم\\\": \\\"' + ($json.overall_score || 0) + '/100\\\", \\\"ID\\\": \\\"' + ($json.script_id || '') + '\\\"}, \\\"' + $json.run_id + '\\\")\"' }}"
      },
      "id": "tt-gate2",
      "name": "Gate 2: Script Approval",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2000, 700],
      "notes": "Pipeline PAUSES — waiting for script approval."
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && python -m pipeline.step4_generate_voiceover --script-id ' + $json.script_id + ' --run-id ' + $json.run_id }}"
      },
      "id": "tt-step4",
      "name": "4. Generate Voiceover",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1000, 900]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry { const data = JSON.parse(lines[lines.length - 1]);\n  return [{ json: { ...data, run_id: $('Parse Gate Approval').first().json.run_id } }];\n} catch (e) { throw new Error('Parse voiceover failed'); }"
      },
      "id": "tt-parse-step4",
      "name": "Parse Voiceover",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 900]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && python -c \"from services.mattermost_service import MattermostService; import os; mm = MattermostService(os.environ[\\\"MATTERMOST_URL\\\"], os.environ[\\\"MATTERMOST_BOT_TOKEN\\\"], os.environ[\\\"MATTERMOST_CHANNEL_ID\\\"]); mm.send_gate_approval(3, \\\"التعليق الصوتي جاهز\\\", {\\\"المدة\\\": \\\"' + ($json.duration_seconds || 0) + 's\\\"}, \\\"' + $json.run_id + '\\\")\"' }}"
      },
      "id": "tt-gate3",
      "name": "Gate 3: Voiceover Approval",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1500, 900],
      "notes": "Pipeline PAUSES — waiting for voiceover approval."
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && python -m pipeline.step5_download_footage --script-id ' + $json.script_id + ' --run-id ' + $json.run_id }}"
      },
      "id": "tt-step5",
      "name": "5. Download Footage",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1000, 1100]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry { const data = JSON.parse(lines[lines.length - 1]);\n  return [{ json: { ...data, run_id: $('Parse Gate Approval').first().json.run_id } }];\n} catch (e) { throw new Error('Parse footage failed'); }"
      },
      "id": "tt-parse-step5",
      "name": "Parse Footage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 1100]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && python -m pipeline.step6_assemble_video --script-id ' + $json.script_id + ' --voiceover-id ' + ($json.voiceover_id || '') + ' --footage-id ' + ($json.footage_id || '') + ' --run-id ' + $json.run_id }}"
      },
      "id": "tt-step6",
      "name": "6. Assemble Video",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1500, 1100]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry { const data = JSON.parse(lines[lines.length - 1]);\n  return [{ json: { ...data, run_id: $('Parse Gate Approval').first().json.run_id } }];\n} catch (e) { throw new Error('Parse video failed'); }"
      },
      "id": "tt-parse-step6",
      "name": "Parse Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 1100]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && python -c \"from services.mattermost_service import MattermostService; import os; mm = MattermostService(os.environ[\\\"MATTERMOST_URL\\\"], os.environ[\\\"MATTERMOST_BOT_TOKEN\\\"], os.environ[\\\"MATTERMOST_CHANNEL_ID\\\"]); mm.send_gate_approval(4, \\\"الفيديو جاهز للمراجعة\\\", {\\\"الفيديو\\\": \\\"' + ($json.video_id || '') + '\\\"}, \\\"' + $json.run_id + '\\\")\"' }}"
      },
      "id": "tt-gate4",
      "name": "Gate 4: Video Approval",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2000, 1100],
      "notes": "Pipeline PAUSES — waiting for assembled video approval."
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && python -c \"from services.mattermost_service import MattermostService; import os; mm = MattermostService(os.environ[\\\"MATTERMOST_URL\\\"], os.environ[\\\"MATTERMOST_BOT_TOKEN\\\"], os.environ[\\\"MATTERMOST_CHANNEL_ID\\\"]); mm.send_gate_approval(5, \\\"جاهز للنشر — أرفق الصورة المصغرة كرد ثم وافق\\\", {\\\"المنصة\\\": \\\"TikTok\\\", \\\"الحالة\\\": \\\"جاهز\\\"}, \\\"' + $json.run_id + '\\\")\"' }}"
      },
      "id": "tt-gate5",
      "name": "Gate 5: Publish + Thumbnail",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1000, 1350],
      "notes": "Pipeline PAUSES — waiting for thumbnail + final approval."
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && python -m pipeline.step7_publish_tiktok --video-id ' + ($json.video_id || '') + ' --mode publish --run-id ' + $json.run_id }}"
      },
      "id": "tt-step7",
      "name": "7. Publish to Buffer",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1000, 1550]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && python -m pipeline.step8_update_rag --run-id ' + $json.run_id }}"
      },
      "id": "tt-step8",
      "name": "8. Update RAG",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1250, 1550]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: '✅ TikTok pipeline complete.' } }];"
      },
      "id": "tt-complete",
      "name": "Pipeline Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 1550]
    },
    {
      "parameters": {
        "jsCode": "const q = $input.first().json.query || $input.first().json;\nconst gate = parseInt(q.gate || '0');\nconst names = {0:'Plan',1:'News',2:'Script',3:'Voiceover',4:'Video',5:'Publish'};\nreturn [{ json: { success: false, message: '❌ Rejected at Gate '+gate+' ('+names[gate]+').', gate, run_id: q.run_id||'' } }];"
      },
      "id": "tt-handle-rejection",
      "name": "Handle Rejection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 1800]
    }
  ],
  "connections": {
    "Daily 9AM Trigger": {
      "main": [[{ "node": "Set Defaults", "type": "main", "index": 0 }]]
    },
    "Manual Trigger": {
      "main": [[{ "node": "Set Defaults", "type": "main", "index": 0 }]]
    },
    "Set Defaults": {
      "main": [[{ "node": "0. Generate Plan", "type": "main", "index": 0 }]]
    },
    "0. Generate Plan": {
      "main": [[{ "node": "Parse Plan", "type": "main", "index": 0 }]]
    },
    "Parse Plan": {
      "main": [[{ "node": "Gate 0: Plan Approval", "type": "main", "index": 0 }]]
    },
    "Approval Webhook": {
      "main": [[{ "node": "Parse Gate Approval", "type": "main", "index": 0 }]]
    },
    "Parse Gate Approval": {
      "main": [[{ "node": "Gate Router", "type": "main", "index": 0 }]]
    },
    "Gate Router": {
      "main": [
        [{ "node": "1. Scrape News", "type": "main", "index": 0 }],
        [{ "node": "2. Generate Script", "type": "main", "index": 0 }],
        [{ "node": "4. Generate Voiceover", "type": "main", "index": 0 }],
        [{ "node": "5. Download Footage", "type": "main", "index": 0 }],
        [{ "node": "Gate 5: Publish + Thumbnail", "type": "main", "index": 0 }],
        [{ "node": "7. Publish to Buffer", "type": "main", "index": 0 }]
      ]
    },
    "1. Scrape News": {
      "main": [[{ "node": "Parse News", "type": "main", "index": 0 }]]
    },
    "Parse News": {
      "main": [[{ "node": "Gate 1: News Approval", "type": "main", "index": 0 }]]
    },
    "2. Generate Script": {
      "main": [[{ "node": "Parse Script", "type": "main", "index": 0 }]]
    },
    "Parse Script": {
      "main": [[{ "node": "3. Validate Script", "type": "main", "index": 0 }]]
    },
    "3. Validate Script": {
      "main": [[{ "node": "Parse Validation", "type": "main", "index": 0 }]]
    },
    "Parse Validation": {
      "main": [[{ "node": "Gate 2: Script Approval", "type": "main", "index": 0 }]]
    },
    "4. Generate Voiceover": {
      "main": [[{ "node": "Parse Voiceover", "type": "main", "index": 0 }]]
    },
    "Parse Voiceover": {
      "main": [[{ "node": "Gate 3: Voiceover Approval", "type": "main", "index": 0 }]]
    },
    "5. Download Footage": {
      "main": [[{ "node": "Parse Footage", "type": "main", "index": 0 }]]
    },
    "Parse Footage": {
      "main": [[{ "node": "6. Assemble Video", "type": "main", "index": 0 }]]
    },
    "6. Assemble Video": {
      "main": [[{ "node": "Parse Video", "type": "main", "index": 0 }]]
    },
    "Parse Video": {
      "main": [[{ "node": "Gate 4: Video Approval", "type": "main", "index": 0 }]]
    },
    "7. Publish to Buffer": {
      "main": [[{ "node": "8. Update RAG", "type": "main", "index": 0 }]]
    },
    "8. Update RAG": {
      "main": [[{ "node": "Pipeline Complete", "type": "main", "index": 0 }]]
    },
    "Rejection Webhook": {
      "main": [[{ "node": "Handle Rejection", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "timezone": "Asia/Riyadh"
  },
  "tags": [
    { "name": "tiktok" },
    { "name": "gaming" },
    { "name": "hitl-6gate" }
  ],
  "versionId": "2.0.0"
}
