pi_instagram_stack/n8n_workflow.json
{
  "updatedAt": "2026-03-07T04:14:17.320Z",
  "createdAt": "2026-03-05T23:00:42.087Z",
  "id": "sqViD3E6dz0znM8y",
  "name": "Instagram Reels Pipeline (7-Gate HITL)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "26bfb902-045b-4370-b444-b2e3dc5b0c34",
      "name": "Daily 10AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-manual",
        "options": {}
      },
      "id": "87e6f352-ae85-4b68-853b-9a485a4b7695",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        192
      ],
      "webhookId": "instagram-manual"
    },
    {
      "parameters": {
        "jsCode": "function uuidv4(){return \"xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx\".replace(/[xy]/g,c=>{const r=Math.random()*16|0;return(c===\"x\"?r:(r&0x3|0x8)).toString(16);})}const runId=uuidv4();return[{json:{content_type:\"trending_news\",duration:45,run_id:runId}}];"
      },
      "id": "51f40e9f-d510-4348-a905-d99239245805",
      "name": "Set Defaults",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        96
      ]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/instagram_stack && python -c \"from processors.planner import Planner; import json; p = Planner(); print(json.dumps(p.run()))\" | tee /tmp/step0_out.txt && python3 -m pipeline.save_state ' + $json.run_id + ' /tmp/step0_out.txt' }}"
      },
      "id": "025da305-c362-4a62-baf1-869ee8560912",
      "name": "0. Generate Plan",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        448,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const plan = JSON.parse(lines[lines.length - 1]);\n  const result = { ...plan, run_id: $('Set Defaults').first().json.run_id };\n  return [{ json: result }];\n} catch (e) { throw new Error('Parse plan failed: ' + e.message); }"
      },
      "id": "5a96fa09-f925-494d-8d53-cf74aaefb946",
      "name": "Parse Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        96
      ]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/instagram_stack && echo ' + JSON.stringify(JSON.stringify({topic: ($json.proposed_topic || ''), type: ($json.proposed_content_type || ''), angle: ($json.proposed_angle || ''), visual_hook: ($json.visual_hook || ''), games: (($json.game_slugs || []).join(', ')), duration: String($json.estimated_duration_seconds || 0) + 's', cost: String($json.estimated_cost_units || 0) + ' units', reasoning: ($json.reasoning || ''), budget: ($json.budget_status || '')})) + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 0 --data-file /tmp/gate_data.json --run-id ' + $json.run_id }}"
      },
      "id": "9b45cbf8-d4e2-431c-9d43-4826c168abd4",
      "name": "Gate 0: Plan Approval",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        896,
        96
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-approve",
        "options": {}
      },
      "id": "fdf05737-8a62-4e1a-902d-0431abc45dd9",
      "name": "Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        992
      ],
      "webhookId": "instagram-approve"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-reject",
        "options": {}
      },
      "id": "ca3e517b-69cb-4ded-820a-932a528c1977",
      "name": "Rejection Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        1792
      ],
      "webhookId": "instagram-reject"
    },
    {
      "parameters": {
        "jsCode": "// Mattermost sends POST with {context: {action, gate, run_id, ...}, post_id, user_name}\n// Also support direct POST body and query params\nconst input = $input.first().json;\nconst ctx = input.context || input.body?.context || input.body || input.query || input;\nreturn [{ json: {\n  gate: parseInt(ctx.gate ?? '0'),\n  run_id: ctx.run_id || '',\n  action: ctx.action || 'approve',\n  post_id: input.post_id || input.body?.post_id || '',\n  user_name: input.user_name || input.body?.user_name || ''\n}}];"
      },
      "id": "fadba323-7036-4c1e-b756-c74b3820db62",
      "name": "Parse Gate Approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        992
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Gate Approval').first().json.gate }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gate 0"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Gate Approval').first().json.gate }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gate 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Gate Approval').first().json.gate }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gate 2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Gate Approval').first().json.gate }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gate 3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Gate Approval').first().json.gate }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gate 4"
            }
          ]
        },
        "options": {}
      },
      "id": "6444ee47-7693-4141-b328-272d2eb0a6f4",
      "name": "Gate Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        672,
        912
      ]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/instagram_stack && eval $(python3 -m pipeline.read_state ' + $('Parse Gate Approval').first().json.run_id + ') && python -m pipeline.step1_scrape_news --source all --topic \"$PROPOSED_TOPIC\" --games \"$GAME_SLUGS\" --run-id ' + $('Parse Gate Approval').first().json.run_id + ' | tee /tmp/step1_out.txt && python3 -m pipeline.save_state ' + $('Parse Gate Approval').first().json.run_id + ' /tmp/step1_out.txt' }}"
      },
      "id": "779232ab-30fa-42b5-b2ce-4f4aa7a79c19",
      "name": "1. Scrape News",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        896,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  const result = { ...d, run_id: $('Parse Gate Approval').first().json.run_id };\n  return [{ json: result }];\n} catch(e) {\n  return [{ json: { success: true, run_id: $('Parse Gate Approval').first().json.run_id } }];\n}"
      },
      "id": "5dbe1625-bac7-4fca-9714-d0439d7a7d23",
      "name": "Parse News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        416
      ]
    },
    {
      "parameters": {
        "command": "={{ (() => {  const arts = $json.articles || [];  const plannedTopic = $json.topic || 'N/A';  const plannedGames = (($json.game_slugs || []).join(', ')) || 'N/A';  const newsList = arts.slice(0,10).map((a,i) => `${i+1}. **${a.title || 'Untitled'}** (${a.source || 'unknown'})\\n   ${(a.summary || '').substring(0, 220)}`).join('\\n\\n');  const summaryLine = `Found ${arts.length || 0} relevant updates for ${plannedTopic}.`;  const data = {    count: String(arts.length || $json.scraped || 0),    sources: ($json.source || 'all'),    topic: plannedTopic,    planned_games: plannedGames,    articles_summary: `${summaryLine}\\n\\n${newsList || 'No relevant articles scraped for the planned game.'}`  };  const cmd = 'cd /home/node/instagram_stack && echo '    + JSON.stringify(JSON.stringify(data))    + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 1 --data-file /tmp/gate_data.json --run-id '    + $json.run_id;  return cmd;})() }}"
      },
      "id": "3fcbcb83-6c5b-4e28-9764-90d95a9e0a26",
      "name": "Gate 1: News Approval",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1344,
        416
      ]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/instagram_stack && eval $(python3 -m pipeline.read_state ' + $('Parse Gate Approval').first().json.run_id + ') && python -m pipeline.step2_generate_script --type \"$PROPOSED_CONTENT_TYPE\" --duration \"$ESTIMATED_DURATION_SECONDS\" --topic \"$PROPOSED_TOPIC\" --angle \"$PROPOSED_ANGLE\" --visual-hook \"$VISUAL_HOOK\" --run-id ' + $('Parse Gate Approval').first().json.run_id + ' | tee /tmp/step2_out.txt && python3 -m pipeline.save_state ' + $('Parse Gate Approval').first().json.run_id + ' /tmp/step2_out.txt' }}"
      },
      "id": "4ceb08cf-b8df-431c-8da9-cb3809ecc273",
      "name": "2. Generate Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        896,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  const result = { ...d, run_id: $('Parse Gate Approval').first().json.run_id };\n  return [{ json: result }];\n} catch(e) { throw new Error('Parse script failed: ' + e.message); }"
      },
      "id": "a47d2dda-4a36-40b0-add9-6b7e24da184f",
      "name": "Parse Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        608
      ]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/instagram_stack && python -m pipeline.step3_validate_script --script-id ' + $json.script_id + ' --run-id ' + $json.run_id + ' | tee /tmp/step3_out.txt && python3 -m pipeline.save_state ' + $json.run_id + ' /tmp/step3_out.txt' }}"
      },
      "id": "9cdb4aa7-54e3-402c-a807-04e06c6391c2",
      "name": "3. Validate Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1344,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  const result = { ...d, run_id: $('Parse Gate Approval').first().json.run_id };\n  return [{ json: result }];\n} catch(e) { throw new Error('Parse validation failed: ' + e.message); }"
      },
      "id": "038a1bf0-d585-48c5-8504-9bcd0d9657d2",
      "name": "Parse Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        608
      ]
    },
    {
      "parameters": {
        "command": "={{ (() => {  const overall = ($json.overall_score || 0);  const hook = (($json.scores || {}).hook_strength || $json.hook_score || 0);  const verified = ($json.verified_score || (($json.scores || {}).accuracy || 0));  if (!$json.approved) {    return 'cd /home/node/instagram_stack && echo '      + JSON.stringify(JSON.stringify({ status: 'skipped_low_quality', overall_score: overall, hook_score: hook, verified_score: verified }))      + ' > /tmp/gate2_skip.json';  }  const scriptText = ($('Parse Script').first().json.script_text || '').substring(0, 3000);  const data = {    Score: String(overall) + '/100',    Hook_Score: String(hook) + '/100',    Verified_Score: String(verified) + '/100',    script_body: scriptText  };  const cmd = 'cd /home/node/instagram_stack && echo '    + JSON.stringify(JSON.stringify(data))    + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 2 --data-file /tmp/gate_data.json --run-id '    + $json.run_id;  return cmd;})() }}"
      },
      "id": "fd5cf8b7-2bf8-4c6e-a1be-32b7a97acfd2",
      "name": "Gate 2: Script Approval",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1792,
        608
      ]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/instagram_stack && eval $(python3 -m pipeline.read_state ' + $('Parse Gate Approval').first().json.run_id + ') && python -m pipeline.step4_generate_voiceover --script-id $SCRIPT_ID | tee /tmp/step4_out.txt && python3 -m pipeline.save_state ' + $('Parse Gate Approval').first().json.run_id + ' /tmp/step4_out.txt' }}"
      },
      "id": "802f79aa-dd70-4c87-af67-9e0c2218c71a",
      "name": "4. Generate Voiceover",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        896,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst stderr = $input.first().json.stderr || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  if (d.error) {\n    throw new Error('Voiceover step failed: ' + d.error);\n  }\n  const result = { ...d, run_id: $('Parse Gate Approval').first().json.run_id };\n  return [{ json: result }];\n} catch(e) {\n  // Try to extract error from stderr if stdout parsing failed\n  const errMatch = stderr.match(/Error: (.+)/);\n  const errMsg = errMatch ? errMatch[1] : (e.message || 'Unknown voiceover error');\n  throw new Error('Parse voiceover failed: ' + errMsg);\n}"
      },
      "id": "fa139f41-9cae-4075-b075-873b311247f9",
      "name": "Parse Voiceover",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        800
      ]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/instagram_stack && echo ' + JSON.stringify(JSON.stringify({duration: String($json.duration || 0) + 's', file_path: ($json.file_path || '')})) + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 3 --data-file /tmp/gate_data.json --run-id ' + $json.run_id }}"
      },
      "id": "4a2758c7-3e26-4660-9f1b-0b7bc00abde5",
      "name": "Gate 3: Voiceover Approval",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1344,
        800
      ]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/instagram_stack && eval $(python3 -m pipeline.read_state ' + $('Parse Gate Approval').first().json.run_id + ') && python -m pipeline.step5_publish_reels --script-id $SCRIPT_ID | tee /tmp/step5_pub_out.txt && python3 -m pipeline.save_state ' + $('Parse Gate Approval').first().json.run_id + ' /tmp/step5_pub_out.txt' }}"
      },
      "id": "7c861e24-e293-4586-a7b3-3b7d4447dc69",
      "name": "5. Publish",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        896,
        1568
      ]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/instagram_stack && eval $(python3 -m pipeline.read_state ' + $('Parse Gate Approval').first().json.run_id + ') && python -m pipeline.step6_update_rag --script-id $SCRIPT_ID' }}"
      },
      "id": "a79596d7-2a25-4b5a-b445-afcfb63294a2",
      "name": "6. Update RAG",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1120,
        1568
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: '✅ Instagram pipeline complete.' } }];"
      },
      "id": "91ef602d-6f68-4f98-8cdb-85794166303c",
      "name": "Pipeline Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        1568
      ]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/instagram_stack && python -m pipeline.update_gate_post --post-id ' + ($('Parse Gate Approval').first().json.post_id || 'none') + ' --gate ' + String($('Parse Gate Approval').first().json.gate || 0) + ' --action approve --user ' + JSON.stringify($('Parse Gate Approval').first().json.user_name || '') }}"
      },
      "id": "b2c3d4e5-f6a7-48b9-c0d1-e2f3a4b5c6d7",
      "name": "Update Post: Approved",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        448,
        992
      ]
    },
    {
      "parameters": {
        "jsCode": "// Mattermost sends POST with {context: {action, gate, run_id, ...}, post_id, user_name}\nconst input = $input.first().json;\nconst ctx = input.context || input.body?.context || input.body || input.query || input;\nconst gate = parseInt(ctx.gate || '0');\nconst names = {0:'Plan',1:'News',2:'Script',3:'Voiceover',4:'Footage',5:'Video',6:'Publish'};\nreturn [{json: {success: false, message: '❌ Rejected at Gate ' + gate + ' (' + names[gate] + ').', gate, run_id: ctx.run_id || '', post_id: input.post_id || input.body?.post_id || '', user_name: input.user_name || input.body?.user_name || ''}}];"
      },
      "id": "51a745bd-6298-4902-be6e-1a0fbe8580c0",
      "name": "Handle Rejection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1792
      ]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/instagram_stack && python -m pipeline.update_gate_post --post-id ' + ($json.post_id || 'none') + ' --gate ' + String($json.gate || 0) + ' --action reject --user ' + JSON.stringify($json.user_name || '') }}"
      },
      "id": "c3d4e5f6-a7b8-49c0-d1e2-f3a4b5c6d7e8",
      "name": "Update Post: Rejected",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        448,
        1792
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-comment",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-40d1-e2f3-a4b5c6d7e8f9",
      "name": "Comment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        2016
      ],
      "webhookId": "instagram-comment"
    },
    {
      "parameters": {
        "jsCode": "// Extract trigger_id from Mattermost button click\nconst input = $input.first().json;\nconst body = input.body || input;\nconst triggerId = body.trigger_id || '';\nconst ctx = body.context || {};\nconst gate = ctx.gate !== undefined ? ctx.gate : 0;\nconst runId = ctx.run_id || '';\n\nif (!triggerId) {\n  return [{ json: { error: 'No trigger_id in request', body: JSON.stringify(body).slice(0, 500) } }];\n}\n\n// Call Mattermost API to open interactive dialog\nconst mmUrl = 'http://192.168.0.11:8065';\nconst botToken = '61hukqibxini5yci6nkf7oio7c';\n\nconst dialogPayload = {\n  trigger_id: triggerId,\n  url: 'http://192.168.0.11:5678/webhook/instagram-dialog-submit',\n  dialog: {\n    callback_id: 'comment_gate_' + gate + '_' + runId,\n    title: '\\u{1F4AC} \\u062a\\u0639\\u0644\\u064a\\u0642 \\u2014 Gate ' + gate,\n    submit_label: '\\u0625\\u0631\\u0633\\u0627\\u0644',\n    state: JSON.stringify({ gate: gate, run_id: runId }),\n    elements: [\n      {\n        display_name: '\\u0627\\u0644\\u062a\\u0639\\u0644\\u064a\\u0642',\n        name: 'comment_text',\n        type: 'textarea',\n        placeholder: '\\u0627\\u0643\\u062a\\u0628 \\u062a\\u0639\\u0644\\u064a\\u0642\\u0643 \\u0647\\u0646\\u0627...',\n        optional: false\n      }\n    ]\n  }\n};\n\nconst resp = await this.helpers.httpRequest({\n  method: 'POST',\n  url: mmUrl + '/api/v4/actions/dialogs/open',\n  headers: {\n    'Authorization': 'Bearer ' + botToken,\n    'Content-Type': 'application/json'\n  },\n  body: dialogPayload,\n  returnFullResponse: true,\n  ignoreHttpStatusErrors: true,\n});\n\nreturn [{ json: { status: 'dialog_opened', gate, run_id: runId, mm_status: resp.statusCode || 'unknown' } }];"
      },
      "id": "e5f6a7b8-c9d0-41e2-f3a4-b5c6d7e8f9a0",
      "name": "Open Comment Dialog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        2016
      ]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/instagram_stack && python -m pipeline.comment_handler --run-id ' + ($json.run_id || 'unknown') + ' --gate ' + String($json.gate || 0) + ' --comment ' + JSON.stringify($json.comment || 'no comment') }}"
      },
      "id": "f7a8b9c0-d1e2-43f4-a5b6-c7d8e9f0a1b2",
      "name": "Handle Comment",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        448,
        2016
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-dialog-submit",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-47a8-b9c0-d1e2f3a4b5c6",
      "name": "Dialog Submit Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        2312
      ],
      "webhookId": "dialog-submit-wh-001"
    },
    {
      "parameters": {
        "jsCode": "// Parse dialog submission from Mattermost\nconst input = $input.first().json;\nconst body = input.body || input;\n\n// Mattermost dialog_submission payload\nconst submission = body.submission || {};\nconst state = JSON.parse(body.state || '{}');\nconst commentText = submission.comment_text || '';\n\nreturn [{ json: {\n  gate: parseInt(state.gate || '0'),\n  run_id: state.run_id || '',\n  comment: commentText,\n  action: 'comment'\n}}];"
      },
      "id": "b2c3d4e5-f6a7-48b9-c0d1-e2f3a4b5c6d7",
      "name": "Parse Dialog Submission",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        2312
      ]
    },
    {
      "parameters": {
        "command": "={{ (() => {  const data = {    caption: ($json.caption || '').substring(0, 2000),    hashtags: ($json.hashtags || '').substring(0, 500)  };  const cmd = 'cd /home/node/instagram_stack && echo '    + JSON.stringify(JSON.stringify(data))    + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 4 --data-file /tmp/gate_data.json --run-id '    + $json.run_id;  return cmd;})() }}"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Gate 4: Publish Approval",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1196,
        1568
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const pub = JSON.parse(lines[lines.length - 1]);\n  const result = { ...pub, run_id: $('Parse Gate Approval').first().json.run_id };\n  return [{ json: result }];\n} catch (e) { throw new Error('Parse publish failed: ' + e.message); }"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Parse Publish",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        996,
        1568
      ]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/instagram_stack && eval $(python3 -m pipeline.read_state ' + $('Parse Gate Approval').first().json.run_id + ') && python -m pipeline.step5b_buffer_draft --script-id $SCRIPT_ID --caption \"$CAPTION\" --hashtags \"$HASHTAGS\" | tee /tmp/step5b_out.txt && python3 -m pipeline.save_state ' + $('Parse Gate Approval').first().json.run_id + ' /tmp/step5b_out.txt' }}"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "5b. Buffer Draft",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1396,
        1568
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  return [{ json: d }];\n} catch(e) {\n  return [{ json: { rewrite_triggered: false } }];\n}"
      },
      "id": "b85a1631-c24e-4729-bca0-9c5fced4538a",
      "name": "Check Comment Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        2016
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rewrite_triggered }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.approved }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rewrite Approved"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rewrite_triggered }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.generation_failed }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Generation Failed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rewrite_triggered }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Comment Stored"
            }
          ]
        },
        "options": {}
      },
      "id": "5dc924da-d423-4caf-9993-903ede7f40be",
      "name": "Comment Result Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        896,
        2016
      ]
    },
    {
      "parameters": {
        "command": "={{ (() => { const d = $json; const data = { Score: String(d.overall_score || 0) + '/100', Hook_Score: String(d.hook_score || 0) + '/100', Verified_Score: String(d.verified_score || 0) + '/100', script_body: (d.script_text || '').substring(0, 3000) }; return 'cd /home/node/instagram_stack && echo ' + JSON.stringify(JSON.stringify(data)) + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 2 --data-file /tmp/gate_data.json --run-id ' + (d.run_id || ''); })() }}"
      },
      "id": "8af30a6f-1160-4dd7-b56d-9b4ff78de4c8",
      "name": "Comment Rewrite Gate 2",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1120,
        1904
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: 'comment_rewrite_failed', message: 'Generation failed - notification already sent.' } }];"
      },
      "id": "4497940e-adf7-4a87-95e9-35bd89d9c644",
      "name": "Comment End: Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        2016
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: 'comment_stored' } }];"
      },
      "id": "ae6c42d8-c11f-403d-b9b8-770c09607dad",
      "name": "Comment End: Stored",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        2128
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "instagram-retry-script",
        "options": {}
      },
      "id": "d6582a58-7bdb-4e5b-aa21-3b6a9bf68e63",
      "name": "Retry Script Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        2512
      ],
      "webhookId": "instagram-retry-script"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst query = input.query || input.body || input;\nconst runId = query.run_id || '';\nif (!runId) throw new Error('Missing run_id in retry request');\nconst fs = require('fs');\nconst state = JSON.parse(fs.readFileSync('/tmp/pipeline_state_' + runId + '.json', 'utf8'));\nreturn [{ json: { run_id: runId, content_type: state.content_type || '', news_ids: state.news_ids || '', planned_topic: state.planned_topic || state.proposed_topic || '', planned_angle: state.planned_angle || state.proposed_angle || '', planned_visual_hook: state.planned_visual_hook || state.visual_hook || '' } }];"
      },
      "id": "e3e4e871-3f65-4675-b670-72c228a54a70",
      "name": "Parse Retry Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        2512
      ]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/instagram_stack && python -m pipeline.step2_write_script --run-id ' + $json.run_id + ' --fresh | tee /tmp/step2_retry_out.txt && python3 -m pipeline.save_state ' + $json.run_id + ' /tmp/step2_retry_out.txt' }}"
      },
      "id": "22e745b6-4e0d-4680-935f-c8eabd7dcb0e",
      "name": "Retry Write Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        448,
        2512
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  const result = { ...d, run_id: $('Parse Retry Params').first().json.run_id };\n  return [{ json: result }];\n} catch(e) { throw new Error('Parse retry script failed: ' + e.message); }"
      },
      "id": "1dcf90f1-c9fe-4468-a6b3-694a409bb1e5",
      "name": "Parse Retry Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        2512
      ]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/instagram_stack && python -m pipeline.step3_validate_script --script-id ' + $json.script_id + ' --run-id ' + $json.run_id + ' | tee /tmp/step3_retry_out.txt && python3 -m pipeline.save_state ' + $json.run_id + ' /tmp/step3_retry_out.txt' }}"
      },
      "id": "234f8d8c-7f17-43e7-a9a6-235cac04cfe7",
      "name": "Retry Validate Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        896,
        2512
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  const result = { ...d, run_id: $('Parse Retry Params').first().json.run_id };\n  return [{ json: result }];\n} catch(e) { throw new Error('Parse retry validation failed: ' + e.message); }"
      },
      "id": "5ed0b38e-ac9f-4ae3-b6cc-00875fcf7aae",
      "name": "Parse Retry Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        2512
      ]
    },
    {
      "parameters": {
        "command": "={{ (() => { const overall = ($json.overall_score || 0); const hook = (($json.scores || {}).hook_strength || $json.hook_score || 0); const verified = ($json.verified_score || (($json.scores || {}).accuracy || 0)); const scriptText = ($('Parse Retry Script').first().json.script_text || '').substring(0, 3000); const data = { Score: String(overall) + '/100', Hook_Score: String(hook) + '/100', Verified_Score: String(verified) + '/100', script_body: scriptText }; return 'cd /home/node/instagram_stack && echo ' + JSON.stringify(JSON.stringify(data)) + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 2 --data-file /tmp/gate_data.json --run-id ' + $json.run_id; })() }}"
      },
      "id": "ef1b23b4-c3cc-41e8-b994-f5999dc99da8",
      "name": "Retry Gate 2",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1344,
        2512
      ]
    }
  ],
  "connections": {
    "Daily 10AM Trigger": {
      "main": [
        [
          {
            "node": "Set Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Defaults": {
      "main": [
        [
          {
            "node": "0. Generate Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "0. Generate Plan": {
      "main": [
        [
          {
            "node": "Parse Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Plan": {
      "main": [
        [
          {
            "node": "Gate 0: Plan Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Webhook": {
      "main": [
        [
          {
            "node": "Parse Gate Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gate Approval": {
      "main": [
        [
          {
            "node": "Update Post: Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Post: Approved": {
      "main": [
        [
          {
            "node": "Gate Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Router": {
      "main": [
        [
          {
            "node": "1. Scrape News",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "2. Generate Script",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4. Generate Voiceover",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "5. Publish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "5b. Buffer Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Scrape News": {
      "main": [
        [
          {
            "node": "Parse News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse News": {
      "main": [
        [
          {
            "node": "Gate 1: News Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Generate Script": {
      "main": [
        [
          {
            "node": "Parse Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Script": {
      "main": [
        [
          {
            "node": "3. Validate Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Validate Script": {
      "main": [
        [
          {
            "node": "Parse Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validation": {
      "main": [
        [
          {
            "node": "Gate 2: Script Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Generate Voiceover": {
      "main": [
        [
          {
            "node": "Parse Voiceover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Voiceover": {
      "main": [
        [
          {
            "node": "Gate 3: Voiceover Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rejection Webhook": {
      "main": [
        [
          {
            "node": "Handle Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Rejection": {
      "main": [
        [
          {
            "node": "Update Post: Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment Webhook": {
      "main": [
        [
          {
            "node": "Open Comment Dialog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dialog Submit Webhook": {
      "main": [
        [
          {
            "node": "Parse Dialog Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Dialog Submission": {
      "main": [
        [
          {
            "node": "Handle Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Update RAG": {
      "main": [
        [
          {
            "node": "Pipeline Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Publish": {
      "main": [
        [
          {
            "node": "Parse Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Publish": {
      "main": [
        [
          {
            "node": "Gate 4: Publish Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5b. Buffer Draft": {
      "main": [
        [
          {
            "node": "6. Update RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Comment": {
      "main": [
        [
          {
            "node": "Check Comment Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Comment Result": {
      "main": [
        [
          {
            "node": "Comment Result Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment Result Router": {
      "main": [
        [
          {
            "node": "Comment Rewrite Gate 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment End: Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment End: Stored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Script Webhook": {
      "main": [
        [
          {
            "node": "Parse Retry Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Retry Params": {
      "main": [
        [
          {
            "node": "Retry Write Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Write Script": {
      "main": [
        [
          {
            "node": "Parse Retry Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Retry Script": {
      "main": [
        [
          {
            "node": "Retry Validate Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Validate Script": {
      "main": [
        [
          {
            "node": "Parse Retry Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Retry Validation": {
      "main": [
        [
          {
            "node": "Retry Gate 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Daily 10AM Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "6bb6261e-24ce-4ca1-a77b-68e31ab34ff3",
  "activeVersionId": "6bb6261e-24ce-4ca1-a77b-68e31ab34ff3",
  "versionCounter": 63,
  "triggerCount": 6,
  "shared": [
    {
      "updatedAt": "2026-03-05T23:00:42.093Z",
      "createdAt": "2026-03-05T23:00:42.093Z",
      "role": "workflow:owner",
      "workflowId": "sqViD3E6dz0znM8y",
      "projectId": "6CIkHswHuZKNYleI",
      "project": {
        "updatedAt": "2026-03-05T18:25:37.335Z",
        "createdAt": "2026-03-05T18:23:15.071Z",
        "id": "6CIkHswHuZKNYleI",
        "name": "Adam Abdullah <adam.97.abdullah@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6f0de1f1-9c11-4398-b315-193c3f650e6e"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-05T18:40:38.183Z",
      "createdAt": "2026-03-05T18:40:38.183Z",
      "id": "DRCPzNVJkQRjOgpM",
      "name": "gaming"
    },
    {
      "updatedAt": "2026-03-05T18:40:38.186Z",
      "createdAt": "2026-03-05T18:40:38.186Z",
      "id": "KgtzMIcl8j30ZdY1",
      "name": "hitl-6gate"
    },
    {
      "updatedAt": "2026-03-05T18:40:38.179Z",
      "createdAt": "2026-03-05T18:40:38.179Z",
      "id": "b5OzxyAYin7sB1wD",
      "name": "instagram"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-07T04:14:26.000Z",
    "createdAt": "2026-03-07T04:14:17.323Z",
    "versionId": "6bb6261e-24ce-4ca1-a77b-68e31ab34ff3",
    "workflowId": "sqViD3E6dz0znM8y",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 10
              }
            ]
          }
        },
        "id": "26bfb902-045b-4370-b444-b2e3dc5b0c34",
        "name": "Daily 10AM Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "instagram-manual",
          "options": {}
        },
        "id": "87e6f352-ae85-4b68-853b-9a485a4b7695",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          192
        ],
        "webhookId": "instagram-manual"
      },
      {
        "parameters": {
          "jsCode": "function uuidv4(){return \"xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx\".replace(/[xy]/g,c=>{const r=Math.random()*16|0;return(c===\"x\"?r:(r&0x3|0x8)).toString(16);})}const runId=uuidv4();return[{json:{content_type:\"trending_news\",duration:45,run_id:runId}}];"
        },
        "id": "51f40e9f-d510-4348-a905-d99239245805",
        "name": "Set Defaults",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          96
        ]
      },
      {
        "parameters": {
          "command": "={{ 'cd /home/node/instagram_stack && python -c \"from processors.planner import Planner; import json; p = Planner(); print(json.dumps(p.run()))\" | tee /tmp/step0_out.txt && python3 -m pipeline.save_state ' + $json.run_id + ' /tmp/step0_out.txt' }}"
        },
        "id": "025da305-c362-4a62-baf1-869ee8560912",
        "name": "0. Generate Plan",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          448,
          96
        ]
      },
      {
        "parameters": {
          "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const plan = JSON.parse(lines[lines.length - 1]);\n  const result = { ...plan, run_id: $('Set Defaults').first().json.run_id };\n  return [{ json: result }];\n} catch (e) { throw new Error('Parse plan failed: ' + e.message); }"
        },
        "id": "5a96fa09-f925-494d-8d53-cf74aaefb946",
        "name": "Parse Plan",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          96
        ]
      },
      {
        "parameters": {
          "command": "={{ 'cd /home/node/instagram_stack && echo ' + JSON.stringify(JSON.stringify({topic: ($json.proposed_topic || ''), type: ($json.proposed_content_type || ''), angle: ($json.proposed_angle || ''), visual_hook: ($json.visual_hook || ''), games: (($json.game_slugs || []).join(', ')), duration: String($json.estimated_duration_seconds || 0) + 's', cost: String($json.estimated_cost_units || 0) + ' units', reasoning: ($json.reasoning || ''), budget: ($json.budget_status || '')})) + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 0 --data-file /tmp/gate_data.json --run-id ' + $json.run_id }}"
        },
        "id": "9b45cbf8-d4e2-431c-9d43-4826c168abd4",
        "name": "Gate 0: Plan Approval",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          896,
          96
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "instagram-approve",
          "options": {}
        },
        "id": "fdf05737-8a62-4e1a-902d-0431abc45dd9",
        "name": "Approval Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          992
        ],
        "webhookId": "instagram-approve"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "instagram-reject",
          "options": {}
        },
        "id": "ca3e517b-69cb-4ded-820a-932a528c1977",
        "name": "Rejection Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          1792
        ],
        "webhookId": "instagram-reject"
      },
      {
        "parameters": {
          "jsCode": "// Mattermost sends POST with {context: {action, gate, run_id, ...}, post_id, user_name}\n// Also support direct POST body and query params\nconst input = $input.first().json;\nconst ctx = input.context || input.body?.context || input.body || input.query || input;\nreturn [{ json: {\n  gate: parseInt(ctx.gate ?? '0'),\n  run_id: ctx.run_id || '',\n  action: ctx.action || 'approve',\n  post_id: input.post_id || input.body?.post_id || '',\n  user_name: input.user_name || input.body?.user_name || ''\n}}];"
        },
        "id": "fadba323-7036-4c1e-b756-c74b3820db62",
        "name": "Parse Gate Approval",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          992
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": ""
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Parse Gate Approval').first().json.gate }}",
                      "rightValue": 0,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Gate 0"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": ""
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Parse Gate Approval').first().json.gate }}",
                      "rightValue": 1,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Gate 1"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": ""
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Parse Gate Approval').first().json.gate }}",
                      "rightValue": 2,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Gate 2"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": ""
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Parse Gate Approval').first().json.gate }}",
                      "rightValue": 3,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Gate 3"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": ""
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Parse Gate Approval').first().json.gate }}",
                      "rightValue": 4,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Gate 4"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": ""
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Parse Gate Approval').first().json.gate }}",
                      "rightValue": 5,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Gate 5"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": ""
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Parse Gate Approval').first().json.gate }}",
                      "rightValue": 6,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Gate 6"
              }
            ]
          },
          "options": {}
        },
        "id": "6444ee47-7693-4141-b328-272d2eb0a6f4",
        "name": "Gate Router",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          672,
          912
        ]
      },
      {
        "parameters": {
          "command": "={{ 'cd /home/node/instagram_stack && eval $(python3 -m pipeline.read_state ' + $('Parse Gate Approval').first().json.run_id + ') && python -m pipeline.step1_scrape_news --source all --topic \"$PROPOSED_TOPIC\" --games \"$GAME_SLUGS\" --run-id ' + $('Parse Gate Approval').first().json.run_id + ' | tee /tmp/step1_out.txt && python3 -m pipeline.save_state ' + $('Parse Gate Approval').first().json.run_id + ' /tmp/step1_out.txt' }}"
        },
        "id": "779232ab-30fa-42b5-b2ce-4f4aa7a79c19",
        "name": "1. Scrape News",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          896,
          416
        ]
      },
      {
        "parameters": {
          "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  const result = { ...d, run_id: $('Parse Gate Approval').first().json.run_id };\n  return [{ json: result }];\n} catch(e) {\n  return [{ json: { success: true, run_id: $('Parse Gate Approval').first().json.run_id } }];\n}"
        },
        "id": "5dbe1625-bac7-4fca-9714-d0439d7a7d23",
        "name": "Parse News",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          416
        ]
      },
      {
        "parameters": {
          "command": "={{ (() => {  const arts = $json.articles || [];  const plannedTopic = $json.topic || 'N/A';  const plannedGames = (($json.game_slugs || []).join(', ')) || 'N/A';  const newsList = arts.slice(0,10).map((a,i) => `${i+1}. **${a.title || 'Untitled'}** (${a.source || 'unknown'})\\n   ${(a.summary || '').substring(0, 220)}`).join('\\n\\n');  const summaryLine = `Found ${arts.length || 0} relevant updates for ${plannedTopic}.`;  const data = {    count: String(arts.length || $json.scraped || 0),    sources: ($json.source || 'all'),    topic: plannedTopic,    planned_games: plannedGames,    articles_summary: `${summaryLine}\\n\\n${newsList || 'No relevant articles scraped for the planned game.'}`  };  const cmd = 'cd /home/node/instagram_stack && echo '    + JSON.stringify(JSON.stringify(data))    + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 1 --data-file /tmp/gate_data.json --run-id '    + $json.run_id;  return cmd;})() }}"
        },
        "id": "3fcbcb83-6c5b-4e28-9764-90d95a9e0a26",
        "name": "Gate 1: News Approval",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1344,
          416
        ]
      },
      {
        "parameters": {
          "command": "={{ 'cd /home/node/instagram_stack && eval $(python3 -m pipeline.read_state ' + $('Parse Gate Approval').first().json.run_id + ') && python -m pipeline.step2_generate_script --type \"$PROPOSED_CONTENT_TYPE\" --duration \"$ESTIMATED_DURATION_SECONDS\" --topic \"$PROPOSED_TOPIC\" --angle \"$PROPOSED_ANGLE\" --visual-hook \"$VISUAL_HOOK\" --run-id ' + $('Parse Gate Approval').first().json.run_id + ' | tee /tmp/step2_out.txt && python3 -m pipeline.save_state ' + $('Parse Gate Approval').first().json.run_id + ' /tmp/step2_out.txt' }}"
        },
        "id": "4ceb08cf-b8df-431c-8da9-cb3809ecc273",
        "name": "2. Generate Script",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          896,
          608
        ]
      },
      {
        "parameters": {
          "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  const result = { ...d, run_id: $('Parse Gate Approval').first().json.run_id };\n  return [{ json: result }];\n} catch(e) { throw new Error('Parse script failed: ' + e.message); }"
        },
        "id": "a47d2dda-4a36-40b0-add9-6b7e24da184f",
        "name": "Parse Script",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          608
        ]
      },
      {
        "parameters": {
          "command": "={{ 'cd /home/node/instagram_stack && python -m pipeline.step3_validate_script --script-id ' + $json.script_id + ' --run-id ' + $json.run_id + ' | tee /tmp/step3_out.txt && python3 -m pipeline.save_state ' + $json.run_id + ' /tmp/step3_out.txt' }}"
        },
        "id": "9cdb4aa7-54e3-402c-a807-04e06c6391c2",
        "name": "3. Validate Script",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1344,
          608
        ]
      },
      {
        "parameters": {
          "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  const result = { ...d, run_id: $('Parse Gate Approval').first().json.run_id };\n  return [{ json: result }];\n} catch(e) { throw new Error('Parse validation failed: ' + e.message); }"
        },
        "id": "038a1bf0-d585-48c5-8504-9bcd0d9657d2",
        "name": "Parse Validation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1568,
          608
        ]
      },
      {
        "parameters": {
          "command": "={{ (() => {  const overall = ($json.overall_score || 0);  const hook = (($json.scores || {}).hook_strength || $json.hook_score || 0);  const verified = ($json.verified_score || (($json.scores || {}).accuracy || 0));  if (!$json.approved) {    return 'cd /home/node/instagram_stack && echo '      + JSON.stringify(JSON.stringify({ status: 'skipped_low_quality', overall_score: overall, hook_score: hook, verified_score: verified }))      + ' > /tmp/gate2_skip.json';  }  const scriptText = ($('Parse Script').first().json.script_text || '').substring(0, 3000);  const data = {    Score: String(overall) + '/100',    Hook_Score: String(hook) + '/100',    Verified_Score: String(verified) + '/100',    script_body: scriptText  };  const cmd = 'cd /home/node/instagram_stack && echo '    + JSON.stringify(JSON.stringify(data))    + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 2 --data-file /tmp/gate_data.json --run-id '    + $json.run_id;  return cmd;})() }}"
        },
        "id": "fd5cf8b7-2bf8-4c6e-a1be-32b7a97acfd2",
        "name": "Gate 2: Script Approval",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1792,
          608
        ]
      },
      {
        "parameters": {
          "command": "={{ 'cd /home/node/instagram_stack && eval $(python3 -m pipeline.read_state ' + $('Parse Gate Approval').first().json.run_id + ') && python -m pipeline.step4_generate_voiceover --script-id $SCRIPT_ID | tee /tmp/step4_out.txt && python3 -m pipeline.save_state ' + $('Parse Gate Approval').first().json.run_id + ' /tmp/step4_out.txt' }}"
        },
        "id": "802f79aa-dd70-4c87-af67-9e0c2218c71a",
        "name": "4. Generate Voiceover",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          896,
          800
        ]
      },
      {
        "parameters": {
          "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  const result = { ...d, run_id: $('Parse Gate Approval').first().json.run_id };\n  return [{ json: result }];\n} catch(e) { throw new Error('Parse voiceover failed: ' + e.message); }"
        },
        "id": "fa139f41-9cae-4075-b075-873b311247f9",
        "name": "Parse Voiceover",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          800
        ]
      },
      {
        "parameters": {
          "command": "={{ 'cd /home/node/instagram_stack && echo ' + JSON.stringify(JSON.stringify({duration: String($json.duration || 0) + 's', file_path: ($json.file_path || '')})) + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 3 --data-file /tmp/gate_data.json --run-id ' + $json.run_id }}"
        },
        "id": "4a2758c7-3e26-4660-9f1b-0b7bc00abde5",
        "name": "Gate 3: Voiceover Approval",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1344,
          800
        ]
      },
      {
        "parameters": {
          "command": "={{ 'cd /home/node/instagram_stack && eval $(python3 -m pipeline.read_state ' + $('Parse Gate Approval').first().json.run_id + ') && python -m pipeline.step5_download_footage --script-id $SCRIPT_ID | tee /tmp/step5_out.txt && python3 -m pipeline.save_state ' + $('Parse Gate Approval').first().json.run_id + ' /tmp/step5_out.txt' }}"
        },
        "id": "6b34c2e4-4ac4-4137-a948-468c34fba63c",
        "name": "5. Download Footage",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          896,
          992
        ]
      },
      {
        "parameters": {
          "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  const result = { ...d, run_id: $('Parse Gate Approval').first().json.run_id };\n  return [{ json: result }];\n} catch(e) { throw new Error('Parse footage failed: ' + e.message); }"
        },
        "id": "a8525609-1793-4543-ac9a-fdcf5026d223",
        "name": "Parse Footage",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          992
        ]
      },
      {
        "parameters": {
          "command": "={{ 'cd /home/node/instagram_stack && echo ' + JSON.stringify(JSON.stringify({source: ($json.source || ''), game: ($json.game_title || ''), duration: String($json.duration || 0) + 's', file_path: ($json.file_path || '')})) + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 4 --data-file /tmp/gate_data.json --run-id ' + $json.run_id }}"
        },
        "id": "b1c2d3e4-f5a6-47b8-c9d0-e1f2a3b4c5d6",
        "name": "Gate 4: Footage Review",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1344,
          992
        ]
      },
      {
        "parameters": {
          "command": "={{ 'cd /home/node/instagram_stack && eval $(python3 -m pipeline.read_state ' + $('Parse Gate Approval').first().json.run_id + ') && python -m pipeline.step6_assemble_video --script-id $SCRIPT_ID --voiceover-id $VOICEOVER_ID --footage-id $FOOTAGE_ID | tee /tmp/step6_out.txt && python3 -m pipeline.save_state ' + $('Parse Gate Approval').first().json.run_id + ' /tmp/step6_out.txt' }}"
        },
        "id": "82c49502-b979-49f9-9fd4-149468d45373",
        "name": "6. Assemble Video",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          896,
          1184
        ]
      },
      {
        "parameters": {
          "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  const result = { ...d, run_id: $('Parse Gate Approval').first().json.run_id };\n  return [{ json: result }];\n} catch(e) { throw new Error('Parse video failed: ' + e.message); }"
        },
        "id": "fe19367a-6b93-4e22-bd17-e4c39757761b",
        "name": "Parse Video",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          1184
        ]
      },
      {
        "parameters": {
          "command": "={{ 'cd /home/node/instagram_stack && echo ' + JSON.stringify(JSON.stringify({duration: String($json.duration || 0) + 's', size: String($json.file_size_mb || 0) + 'MB', resolution: ($json.resolution || ''), output_path: ($json.output_path || '')})) + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 5 --data-file /tmp/gate_data.json --run-id ' + $json.run_id }}"
        },
        "id": "2a122147-1a82-4241-ba32-9bf1f6b020f8",
        "name": "Gate 5: Video Approval",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1344,
          1184
        ]
      },
      {
        "parameters": {
          "command": "={{ 'cd /home/node/instagram_stack && echo ' + JSON.stringify('{\"platform\": \"Instagram\"}') + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 6 --data-file /tmp/gate_data.json --run-id ' + $('Parse Gate Approval').first().json.run_id }}"
        },
        "id": "fca1f186-34a5-4f6f-91f3-219183fad347",
        "name": "Gate 6: Publish + Thumbnail",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          896,
          1376
        ]
      },
      {
        "parameters": {
          "command": "={{ 'cd /home/node/instagram_stack && eval $(python3 -m pipeline.read_state ' + $('Parse Gate Approval').first().json.run_id + ') && python -m pipeline.step7_publish_reels --video-id $VIDEO_ID --mode publish | tee /tmp/step7_out.txt && python3 -m pipeline.save_state ' + $('Parse Gate Approval').first().json.run_id + ' /tmp/step7_out.txt' }}"
        },
        "id": "7c861e24-e293-4586-a7b3-3b7d4447dc69",
        "name": "7. Publish",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          896,
          1568
        ]
      },
      {
        "parameters": {
          "command": "={{ 'cd /home/node/instagram_stack && eval $(python3 -m pipeline.read_state ' + $('Parse Gate Approval').first().json.run_id + ') && python -m pipeline.step8_update_rag --video-id $VIDEO_ID' }}"
        },
        "id": "a79596d7-2a25-4b5a-b445-afcfb63294a2",
        "name": "8. Update RAG",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1120,
          1568
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { success: true, message: '✅ Instagram pipeline complete.' } }];"
        },
        "id": "91ef602d-6f68-4f98-8cdb-85794166303c",
        "name": "Pipeline Complete",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1344,
          1568
        ]
      },
      {
        "parameters": {
          "command": "={{ 'cd /home/node/instagram_stack && python -m pipeline.update_gate_post --post-id ' + ($('Parse Gate Approval').first().json.post_id || 'none') + ' --gate ' + String($('Parse Gate Approval').first().json.gate || 0) + ' --action approve --user ' + JSON.stringify($('Parse Gate Approval').first().json.user_name || '') }}"
        },
        "id": "b2c3d4e5-f6a7-48b9-c0d1-e2f3a4b5c6d7",
        "name": "Update Post: Approved",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          448,
          992
        ]
      },
      {
        "parameters": {
          "jsCode": "// Mattermost sends POST with {context: {action, gate, run_id, ...}, post_id, user_name}\nconst input = $input.first().json;\nconst ctx = input.context || input.body?.context || input.body || input.query || input;\nconst gate = parseInt(ctx.gate || '0');\nconst names = {0:'Plan',1:'News',2:'Script',3:'Voiceover',4:'Footage',5:'Video',6:'Publish'};\nreturn [{json: {success: false, message: '❌ Rejected at Gate ' + gate + ' (' + names[gate] + ').', gate, run_id: ctx.run_id || '', post_id: input.post_id || input.body?.post_id || '', user_name: input.user_name || input.body?.user_name || ''}}];"
        },
        "id": "51a745bd-6298-4902-be6e-1a0fbe8580c0",
        "name": "Handle Rejection",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          1792
        ]
      },
      {
        "parameters": {
          "command": "={{ 'cd /home/node/instagram_stack && python -m pipeline.update_gate_post --post-id ' + ($json.post_id || 'none') + ' --gate ' + String($json.gate || 0) + ' --action reject --user ' + JSON.stringify($json.user_name || '') }}"
        },
        "id": "c3d4e5f6-a7b8-49c0-d1e2-f3a4b5c6d7e8",
        "name": "Update Post: Rejected",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          448,
          1792
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "instagram-comment",
          "options": {}
        },
        "id": "d4e5f6a7-b8c9-40d1-e2f3-a4b5c6d7e8f9",
        "name": "Comment Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          2016
        ],
        "webhookId": "instagram-comment"
      },
      {
        "parameters": {
          "jsCode": "// Parse comment from Mattermost interactive button or outgoing webhook\nconst input = $input.first().json;\nconst ctx = input.context || input.body?.context || input.body || input.query || input;\n// From Mattermost outgoing webhook: text field contains the actual comment\nconst text = input.text || input.body?.text || ctx.comment || '';\nreturn [{ json: {\n  gate: parseInt(ctx.gate ?? '0'),\n  run_id: ctx.run_id || '',\n  comment: text,\n  action: 'comment'\n}}];"
        },
        "id": "e5f6a7b8-c9d0-41e2-f3a4-b5c6d7e8f9a0",
        "name": "Parse Comment",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          2016
        ]
      },
      {
        "parameters": {
          "command": "={{ 'cd /home/node/instagram_stack && python -m pipeline.comment_handler --run-id ' + ($json.run_id || 'unknown') + ' --gate ' + String($json.gate || 0) + ' --comment ' + JSON.stringify($json.comment || 'no comment') }}"
        },
        "id": "f7a8b9c0-d1e2-43f4-a5b6-c7d8e9f0a1b2",
        "name": "Handle Comment",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          448,
          2016
        ]
      },
      {
        "parameters": {
          "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  return [{ json: d }];\n} catch(e) {\n  return [{ json: { rewrite_triggered: false } }];\n}"
        },
        "id": "b85a1631-c24e-4729-bca0-9c5fced4538a",
        "name": "Check Comment Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          2016
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": ""
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.rewrite_triggered }}",
                      "rightValue": true,
                      "operator": {
                        "type": "boolean",
                        "operation": "equals"
                      }
                    },
                    {
                      "leftValue": "={{ $json.approved }}",
                      "rightValue": true,
                      "operator": {
                        "type": "boolean",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Rewrite Approved"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": ""
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.rewrite_triggered }}",
                      "rightValue": true,
                      "operator": {
                        "type": "boolean",
                        "operation": "equals"
                      }
                    },
                    {
                      "leftValue": "={{ $json.generation_failed }}",
                      "rightValue": true,
                      "operator": {
                        "type": "boolean",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Generation Failed"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": ""
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.rewrite_triggered }}",
                      "rightValue": false,
                      "operator": {
                        "type": "boolean",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Comment Stored"
              }
            ]
          },
          "options": {}
        },
        "id": "5dc924da-d423-4caf-9993-903ede7f40be",
        "name": "Comment Result Router",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          896,
          2016
        ]
      },
      {
        "parameters": {
          "command": "={{ (() => { const d = $json; const data = { Score: String(d.overall_score || 0) + '/100', Hook_Score: String(d.hook_score || 0) + '/100', Verified_Score: String(d.verified_score || 0) + '/100', script_body: (d.script_text || '').substring(0, 3000) }; return 'cd /home/node/instagram_stack && echo ' + JSON.stringify(JSON.stringify(data)) + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 2 --data-file /tmp/gate_data.json --run-id ' + (d.run_id || ''); })() }}"
        },
        "id": "8af30a6f-1160-4dd7-b56d-9b4ff78de4c8",
        "name": "Comment Rewrite Gate 2",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1120,
          1904
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { status: 'comment_rewrite_failed', message: 'Generation failed - notification already sent.' } }];"
        },
        "id": "4497940e-adf7-4a87-95e9-35bd89d9c644",
        "name": "Comment End: Failed",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          2016
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { status: 'comment_stored' } }];"
        },
        "id": "ae6c42d8-c11f-403d-b9b8-770c09607dad",
        "name": "Comment End: Stored",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          2128
        ]
      },
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "instagram-retry-script",
          "options": {}
        },
        "id": "d6582a58-7bdb-4e5b-aa21-3b6a9bf68e63",
        "name": "Retry Script Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          2512
        ],
        "webhookId": "instagram-retry-script"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst query = input.query || input.body || input;\nconst runId = query.run_id || '';\nif (!runId) throw new Error('Missing run_id in retry request');\nconst fs = require('fs');\nconst state = JSON.parse(fs.readFileSync('/tmp/pipeline_state_' + runId + '.json', 'utf8'));\nreturn [{ json: { run_id: runId, content_type: state.content_type || '', news_ids: state.news_ids || '', planned_topic: state.planned_topic || state.proposed_topic || '', planned_angle: state.planned_angle || state.proposed_angle || '', planned_visual_hook: state.planned_visual_hook || state.visual_hook || '' } }];"
        },
        "id": "e3e4e871-3f65-4675-b670-72c228a54a70",
        "name": "Parse Retry Params",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          2512
        ]
      },
      {
        "parameters": {
          "command": "={{ 'cd /home/node/instagram_stack && python -m pipeline.step2_write_script --run-id ' + $json.run_id + ' --fresh | tee /tmp/step2_retry_out.txt && python3 -m pipeline.save_state ' + $json.run_id + ' /tmp/step2_retry_out.txt' }}"
        },
        "id": "22e745b6-4e0d-4680-935f-c8eabd7dcb0e",
        "name": "Retry Write Script",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          448,
          2512
        ]
      },
      {
        "parameters": {
          "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  const result = { ...d, run_id: $('Parse Retry Params').first().json.run_id };\n  return [{ json: result }];\n} catch(e) { throw new Error('Parse retry script failed: ' + e.message); }"
        },
        "id": "1dcf90f1-c9fe-4468-a6b3-694a409bb1e5",
        "name": "Parse Retry Script",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          2512
        ]
      },
      {
        "parameters": {
          "command": "={{ 'cd /home/node/instagram_stack && python -m pipeline.step3_validate_script --script-id ' + $json.script_id + ' --run-id ' + $json.run_id + ' | tee /tmp/step3_retry_out.txt && python3 -m pipeline.save_state ' + $json.run_id + ' /tmp/step3_retry_out.txt' }}"
        },
        "id": "234f8d8c-7f17-43e7-a9a6-235cac04cfe7",
        "name": "Retry Validate Script",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          896,
          2512
        ]
      },
      {
        "parameters": {
          "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  const result = { ...d, run_id: $('Parse Retry Params').first().json.run_id };\n  return [{ json: result }];\n} catch(e) { throw new Error('Parse retry validation failed: ' + e.message); }"
        },
        "id": "5ed0b38e-ac9f-4ae3-b6cc-00875fcf7aae",
        "name": "Parse Retry Validation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          2512
        ]
      },
      {
        "parameters": {
          "command": "={{ (() => { const overall = ($json.overall_score || 0); const hook = (($json.scores || {}).hook_strength || $json.hook_score || 0); const verified = ($json.verified_score || (($json.scores || {}).accuracy || 0)); const scriptText = ($('Parse Retry Script').first().json.script_text || '').substring(0, 3000); const data = { Score: String(overall) + '/100', Hook_Score: String(hook) + '/100', Verified_Score: String(verified) + '/100', script_body: scriptText }; return 'cd /home/node/instagram_stack && echo ' + JSON.stringify(JSON.stringify(data)) + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 2 --data-file /tmp/gate_data.json --run-id ' + $json.run_id; })() }}"
        },
        "id": "ef1b23b4-c3cc-41e8-b994-f5999dc99da8",
        "name": "Retry Gate 2",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1344,
          2512
        ]
      }
    ],
    "connections": {
      "Daily 10AM Trigger": {
        "main": [
          [
            {
              "node": "Set Defaults",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Set Defaults",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Defaults": {
        "main": [
          [
            {
              "node": "0. Generate Plan",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "0. Generate Plan": {
        "main": [
          [
            {
              "node": "Parse Plan",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Plan": {
        "main": [
          [
            {
              "node": "Gate 0: Plan Approval",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Approval Webhook": {
        "main": [
          [
            {
              "node": "Parse Gate Approval",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Gate Approval": {
        "main": [
          [
            {
              "node": "Update Post: Approved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Post: Approved": {
        "main": [
          [
            {
              "node": "Gate Router",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gate Router": {
        "main": [
          [
            {
              "node": "1. Scrape News",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "2. Generate Script",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "4. Generate Voiceover",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "5. Download Footage",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "6. Assemble Video",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Gate 6: Publish + Thumbnail",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "7. Publish",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "1. Scrape News": {
        "main": [
          [
            {
              "node": "Parse News",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse News": {
        "main": [
          [
            {
              "node": "Gate 1: News Approval",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "2. Generate Script": {
        "main": [
          [
            {
              "node": "Parse Script",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Script": {
        "main": [
          [
            {
              "node": "3. Validate Script",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "3. Validate Script": {
        "main": [
          [
            {
              "node": "Parse Validation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Validation": {
        "main": [
          [
            {
              "node": "Gate 2: Script Approval",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "4. Generate Voiceover": {
        "main": [
          [
            {
              "node": "Parse Voiceover",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Voiceover": {
        "main": [
          [
            {
              "node": "Gate 3: Voiceover Approval",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "5. Download Footage": {
        "main": [
          [
            {
              "node": "Parse Footage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Footage": {
        "main": [
          [
            {
              "node": "Gate 4: Footage Review",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "6. Assemble Video": {
        "main": [
          [
            {
              "node": "Parse Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Video": {
        "main": [
          [
            {
              "node": "Gate 5: Video Approval",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "7. Publish": {
        "main": [
          [
            {
              "node": "8. Update RAG",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "8. Update RAG": {
        "main": [
          [
            {
              "node": "Pipeline Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Rejection Webhook": {
        "main": [
          [
            {
              "node": "Handle Rejection",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Handle Rejection": {
        "main": [
          [
            {
              "node": "Update Post: Rejected",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Comment Webhook": {
        "main": [
          [
            {
              "node": "Parse Comment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Comment": {
        "main": [
          [
            {
              "node": "Handle Comment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Handle Comment": {
        "main": [
          [
            {
              "node": "Check Comment Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Comment Result": {
        "main": [
          [
            {
              "node": "Comment Result Router",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Comment Result Router": {
        "main": [
          [
            {
              "node": "Comment Rewrite Gate 2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Comment End: Failed",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Comment End: Stored",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retry Script Webhook": {
        "main": [
          [
            {
              "node": "Parse Retry Params",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Retry Params": {
        "main": [
          [
            {
              "node": "Retry Write Script",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retry Write Script": {
        "main": [
          [
            {
              "node": "Parse Retry Script",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Retry Script": {
        "main": [
          [
            {
              "node": "Retry Validate Script",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retry Validate Script": {
        "main": [
          [
            {
              "node": "Parse Retry Validation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Retry Validation": {
        "main": [
          [
            {
              "node": "Retry Gate 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Adam Abdullah",
    "name": "Version 6bb6261e",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-07T04:14:26.592Z",
        "id": 41,
        "workflowId": "sqViD3E6dz0znM8y",
        "versionId": "6bb6261e-24ce-4ca1-a77b-68e31ab34ff3",
        "event": "activated",
        "userId": "6f0de1f1-9c11-4398-b315-193c3f650e6e"
      }
    ]
  }
}