pi_youtube_stack/n8n_workflow/workflow.json
{
  "name": "YouTube Content Pipeline (6-Gate HITL)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "triggerAtDay": 25, "triggerAtHour": 10 }]
        }
      },
      "id": "schedule-monthly",
      "name": "Monthly Schedule (25th)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-pipeline",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-manual",
      "name": "Manual Trigger Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 500],
      "webhookId": "trigger-pipeline"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst runId = require('crypto').randomUUID();\nlet contentType, year, month, gameSlug, triggerSource;\nif ($('Monthly Schedule (25th)').isExecuted) {\n  const now = new Date();\n  contentType = 'monthly_releases'; year = now.getFullYear();\n  month = now.getMonth() + 1; gameSlug = ''; triggerSource = 'schedule';\n} else {\n  contentType = input.content_type || 'monthly_releases';\n  year = input.year || new Date().getFullYear();\n  month = input.month || new Date().getMonth() + 1;\n  gameSlug = input.game_slug || ''; triggerSource = 'manual';\n}\nreturn [{ json: { content_type: contentType, year, month, game_slug: gameSlug, trigger_source: triggerSource, run_id: runId } }];"
      },
      "id": "normalize-input",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 350]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && .venv/bin/python3 -c \"from agents.planner_agent import PlannerAgent; import json; p = PlannerAgent(); r = p.execute(); print(json.dumps(r))\"' }}"
      },
      "id": "step0-plan",
      "name": "0. Generate Plan",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [700, 350],
      "notes": "PlannerAgent queries RAWG cache + RAG, proposes content idea."
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry { const plan = JSON.parse(lines[lines.length - 1]);\n  return [{ json: { ...plan, run_id: $('Normalize Input').first().json.run_id } }];\n} catch (e) { throw new Error('Parse plan failed: ' + lines[lines.length - 1]); }"
      },
      "id": "parse-plan",
      "name": "Parse Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [950, 350]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && .venv/bin/python3 -c \"from services.mattermost_service import MattermostService; mm = MattermostService(); mm.send_gate_approval(0, \\\"خطة محتوى جديدة للمراجعة\\\", {\\\"الموضوع\\\": \\\"' + ($json.proposed_topic || '').replace(/\"/g, '') + '\\\", \\\"النوع\\\": \\\"' + ($json.proposed_content_type || '') + '\\\", \\\"التكلفة\\\": \\\"' + ($json.estimated_cost_units || 0) + ' وحدة\\\"}, \\\"' + $json.run_id + '\\\", budget_status=\\\"' + ($json.budget_status || '') + '\\\")\"' }}"
      },
      "id": "gate0-notify",
      "name": "Gate 0: Plan Approval",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1200, 350],
      "notes": "Pipeline PAUSES — waiting for human approval of plan."
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "youtube-approve",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-approve",
      "name": "Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 900],
      "webhookId": "youtube-approve",
      "notes": "Single endpoint for ALL gate approvals. ?gate=N&run_id=...&action=approve"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "youtube-reject",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-reject",
      "name": "Rejection Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 1800],
      "webhookId": "youtube-reject"
    },
    {
      "parameters": {
        "jsCode": "const q = $input.first().json.query || $input.first().json;\nreturn [{ json: { gate: parseInt(q.gate || '0'), run_id: q.run_id || '', action: q.action || 'approve' } }];"
      },
      "id": "parse-approval",
      "name": "Parse Gate Approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 900]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "outputIndex": 0, "value": 0 },
            { "outputIndex": 1, "value": 1 },
            { "outputIndex": 2, "value": 2 },
            { "outputIndex": 3, "value": 3 },
            { "outputIndex": 4, "value": 4 },
            { "outputIndex": 5, "value": 5 }
          ]
        },
        "dataType": "number",
        "value": "={{ $json.gate }}"
      },
      "id": "gate-router",
      "name": "Gate Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [700, 900],
      "notes": "Routes approval to correct continuation: Gate 0→Fetch, Gate 1→Script, etc."
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && .venv/bin/python3 scripts/fetch_game_data.py --type monthly_releases --run-id ' + $json.run_id }}"
      },
      "id": "step1-fetch",
      "name": "1. Fetch Game Data",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1000, 500]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry { const data = JSON.parse(lines[lines.length - 1]);\n  return [{ json: { ...data, run_id: $('Parse Gate Approval').first().json.run_id } }];\n} catch (e) { throw new Error('Parse fetch failed'); }"
      },
      "id": "parse-fetch",
      "name": "Parse Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && .venv/bin/python3 -c \"from services.mattermost_service import MattermostService; mm = MattermostService(); mm.send_gate_approval(1, \\\"بيانات الألعاب جاهزة\\\", {\\\"الألعاب\\\": \\\"' + ($json.games_found || 0) + '\\\", \\\"المصدر\\\": \\\"RAWG API\\\"}, \\\"' + $json.run_id + '\\\")\"' }}"
      },
      "id": "gate1-notify",
      "name": "Gate 1: Data Approval",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1500, 500],
      "notes": "Pipeline PAUSES — waiting for data approval."
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && .venv/bin/python3 scripts/generate_script.py --type monthly_releases --run-id ' + $json.run_id }}"
      },
      "id": "step2-script",
      "name": "2. Generate Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1000, 700]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry { const data = JSON.parse(lines[lines.length - 1]);\n  return [{ json: { ...data, run_id: $('Parse Gate Approval').first().json.run_id } }];\n} catch (e) { throw new Error('Parse script failed'); }"
      },
      "id": "parse-script",
      "name": "Parse Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 700]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && .venv/bin/python3 scripts/validate_script.py --script-id ' + $json.script_id + ' --run-id ' + $json.run_id }}"
      },
      "id": "step2b-validate",
      "name": "2b. Validate Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1500, 700]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry { const data = JSON.parse(lines[lines.length - 1]);\n  return [{ json: { ...data, run_id: $('Parse Gate Approval').first().json.run_id } }];\n} catch (e) { throw new Error('Parse validation failed'); }"
      },
      "id": "parse-validation",
      "name": "Parse Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 700]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && .venv/bin/python3 -c \"from services.mattermost_service import MattermostService; mm = MattermostService(); mm.send_gate_approval(2, \\\"السكريبت جاهز — تقييم: ' + ($json.overall_score || 0) + '/100\\\", {\\\"العنوان\\\": \\\"' + ($json.title || '').replace(/\"/g, '') + '\\\", \\\"التقييم\\\": \\\"' + ($json.overall_score || 0) + '/100\\\", \\\"ID\\\": \\\"' + ($json.script_id || '') + '\\\"}, \\\"' + $json.run_id + '\\\")\"' }}"
      },
      "id": "gate2-notify",
      "name": "Gate 2: Script Approval",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2000, 700],
      "notes": "Pipeline PAUSES — waiting for script approval."
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && .venv/bin/python3 scripts/generate_metadata.py --script-id ' + $('Parse Validation').first().json.script_id + ' --run-id ' + $json.run_id }}"
      },
      "id": "step3-metadata",
      "name": "3. Generate Metadata",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1000, 900]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry { const data = JSON.parse(lines[lines.length - 1]);\n  return [{ json: { ...data, run_id: $('Parse Gate Approval').first().json.run_id } }];\n} catch (e) { throw new Error('Parse metadata failed'); }"
      },
      "id": "parse-metadata",
      "name": "Parse Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 900]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && .venv/bin/python3 -c \"from services.mattermost_service import MattermostService; mm = MattermostService(); mm.send_gate_approval(3, \\\"البيانات الوصفية جاهزة\\\", {\\\"العنوان\\\": \\\"' + ($json.title || '').replace(/\"/g, '') + '\\\"}, \\\"' + $json.run_id + '\\\")\"' }}"
      },
      "id": "gate3-notify",
      "name": "Gate 3: Metadata Approval",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1500, 900],
      "notes": "Pipeline PAUSES — waiting for metadata approval."
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && .venv/bin/python3 scripts/generate_voiceover.py --script-id ' + $('Parse Validation').first().json.script_id + ' --run-id ' + $json.run_id }}"
      },
      "id": "step4-voiceover",
      "name": "4. Generate Voiceover",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1000, 1100]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry { const data = JSON.parse(lines[lines.length - 1]);\n  return [{ json: { ...data, run_id: $('Parse Gate Approval').first().json.run_id } }];\n} catch (e) { throw new Error('Parse voiceover failed'); }"
      },
      "id": "parse-voiceover",
      "name": "Parse Voiceover",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 1100]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && .venv/bin/python3 -c \"from services.mattermost_service import MattermostService; mm = MattermostService(); mm.send_gate_approval(4, \\\"التعليق الصوتي جاهز — المدة: ' + ($json.duration_seconds || 0) + ' ثانية\\\", {\\\"المدة\\\": \\\"' + ($json.duration_seconds || 0) + 's\\\", \\\"الملف\\\": \\\"' + ($json.audio_file || '') + '\\\"}, \\\"' + $json.run_id + '\\\")\"' }}"
      },
      "id": "gate4-notify",
      "name": "Gate 4: Audio Approval",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1500, 1100],
      "notes": "Pipeline PAUSES — waiting for audio approval."
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && .venv/bin/python3 -c \"from services.mattermost_service import MattermostService; mm = MattermostService(); mm.send_gate_approval(5, \\\"جاهز للنشر — يرجى إرفاق الصورة المصغرة كرد ثم الموافقة\\\", {\\\"المنصة\\\": \\\"YouTube\\\", \\\"الحالة\\\": \\\"جاهز\\\"}, \\\"' + $json.run_id + '\\\")\"' }}"
      },
      "id": "gate5-notify",
      "name": "Gate 5: Publish + Thumbnail",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1000, 1350],
      "notes": "Pipeline PAUSES — waiting for thumbnail upload + final approval."
    },
    {
      "parameters": {
        "jsCode": "// Gate 5 approved — thumbnail was uploaded as Mattermost thread reply.\n// Pass through to Update RAG.\nreturn [{ json: { run_id: $('Parse Gate Approval').first().json.run_id, gate: 5, extract_thumbnail: true } }];"
      },
      "id": "extract-thumbnail",
      "name": "Extract Thumbnail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 1550]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && .venv/bin/python3 scripts/update_rag.py --run-id ' + $json.run_id }}"
      },
      "id": "update-rag",
      "name": "6. Update RAG",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1250, 1550]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: '✅ YouTube pipeline complete.', run_id: $json.run_id } }];"
      },
      "id": "pipeline-complete",
      "name": "Pipeline Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 1550]
    },
    {
      "parameters": {
        "jsCode": "const q = $input.first().json.query || $input.first().json;\nconst gate = parseInt(q.gate || '0');\nconst names = {0:'Plan',1:'Data',2:'Script',3:'Metadata',4:'Audio',5:'Publish'};\nreturn [{ json: { success: false, message: '❌ Rejected at Gate '+gate+' ('+names[gate]+').', gate, run_id: q.run_id||'' } }];"
      },
      "id": "handle-rejection",
      "name": "Handle Rejection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 1800]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/project && .venv/bin/python3 scripts/update_rag.py --type rejection --gate ' + $json.gate + ' --run-id ' + $json.run_id }}"
      },
      "id": "store-rejection",
      "name": "Store Rejection in RAG",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [700, 1800]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-event",
      "name": "Event Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 2050],
      "webhookId": "trigger-content"
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "content_type", "value": "={{ $json.body.content_type || 'aaa_review' }}" },
            { "name": "game_slug", "value": "={{ $json.body.game_slug || '' }}" },
            { "name": "trigger_source", "value": "event" }
          ],
          "number": [
            { "name": "year", "value": "={{ $json.body.year || new Date().getFullYear() }}" },
            { "name": "month", "value": "={{ $json.body.month || new Date().getMonth() + 1 }}" }
          ]
        },
        "options": {}
      },
      "id": "set-event-params",
      "name": "Set Event Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 2050]
    }
  ],
  "connections": {
    "Monthly Schedule (25th)": {
      "main": [[{ "node": "Normalize Input", "type": "main", "index": 0 }]]
    },
    "Manual Trigger Webhook": {
      "main": [[{ "node": "Normalize Input", "type": "main", "index": 0 }]]
    },
    "Normalize Input": {
      "main": [[{ "node": "0. Generate Plan", "type": "main", "index": 0 }]]
    },
    "0. Generate Plan": {
      "main": [[{ "node": "Parse Plan", "type": "main", "index": 0 }]]
    },
    "Parse Plan": {
      "main": [[{ "node": "Gate 0: Plan Approval", "type": "main", "index": 0 }]]
    },
    "Approval Webhook": {
      "main": [[{ "node": "Parse Gate Approval", "type": "main", "index": 0 }]]
    },
    "Parse Gate Approval": {
      "main": [[{ "node": "Gate Router", "type": "main", "index": 0 }]]
    },
    "Gate Router": {
      "main": [
        [{ "node": "1. Fetch Game Data", "type": "main", "index": 0 }],
        [{ "node": "2. Generate Script", "type": "main", "index": 0 }],
        [{ "node": "3. Generate Metadata", "type": "main", "index": 0 }],
        [{ "node": "4. Generate Voiceover", "type": "main", "index": 0 }],
        [{ "node": "Gate 5: Publish + Thumbnail", "type": "main", "index": 0 }],
        [{ "node": "Extract Thumbnail", "type": "main", "index": 0 }]
      ]
    },
    "1. Fetch Game Data": {
      "main": [[{ "node": "Parse Fetch", "type": "main", "index": 0 }]]
    },
    "Parse Fetch": {
      "main": [[{ "node": "Gate 1: Data Approval", "type": "main", "index": 0 }]]
    },
    "2. Generate Script": {
      "main": [[{ "node": "Parse Script", "type": "main", "index": 0 }]]
    },
    "Parse Script": {
      "main": [[{ "node": "2b. Validate Script", "type": "main", "index": 0 }]]
    },
    "2b. Validate Script": {
      "main": [[{ "node": "Parse Validation", "type": "main", "index": 0 }]]
    },
    "Parse Validation": {
      "main": [[{ "node": "Gate 2: Script Approval", "type": "main", "index": 0 }]]
    },
    "3. Generate Metadata": {
      "main": [[{ "node": "Parse Metadata", "type": "main", "index": 0 }]]
    },
    "Parse Metadata": {
      "main": [[{ "node": "Gate 3: Metadata Approval", "type": "main", "index": 0 }]]
    },
    "4. Generate Voiceover": {
      "main": [[{ "node": "Parse Voiceover", "type": "main", "index": 0 }]]
    },
    "Parse Voiceover": {
      "main": [[{ "node": "Gate 4: Audio Approval", "type": "main", "index": 0 }]]
    },
    "Extract Thumbnail": {
      "main": [[{ "node": "6. Update RAG", "type": "main", "index": 0 }]]
    },
    "6. Update RAG": {
      "main": [[{ "node": "Pipeline Complete", "type": "main", "index": 0 }]]
    },
    "Rejection Webhook": {
      "main": [[{ "node": "Handle Rejection", "type": "main", "index": 0 }]]
    },
    "Handle Rejection": {
      "main": [[{ "node": "Store Rejection in RAG", "type": "main", "index": 0 }]]
    },
    "Event Trigger": {
      "main": [[{ "node": "Set Event Params", "type": "main", "index": 0 }]]
    },
    "Set Event Params": {
      "main": [[{ "node": "Normalize Input", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "timezone": "Asia/Riyadh"
  },
  "tags": [
    { "name": "youtube" },
    { "name": "gaming" },
    { "name": "arabic" },
    { "name": "hitl-6gate" }
  ],
  "versionId": "2.0.0"
}
