pi_youtube_stack/n8n_workflow/workflow.json
{
  "name": "YouTube Pipeline (4-Gate HITL)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 6"
            }
          ]
        }
      },
      "id": "n001",
      "name": "Saturday Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "youtube-manual",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "n002",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 560]
    },
    {
      "parameters": {
        "jsCode": "const runId = require('crypto').randomUUID();\nlet contentType, triggerSource;\nif ($('Saturday Schedule').isExecuted) {\n  const now = new Date();\n  const day = now.getDate();\n  const week = Math.ceil(day / 7);\n  const types = ['upcoming_games','game_review','industry_news','monthly_games'];\n  contentType = types[Math.min(week - 1, 3)];\n  triggerSource = 'schedule';\n} else {\n  contentType = $input.first().json.content_type || 'upcoming_games';\n  triggerSource = 'manual';\n}\nreturn [{ json: { content_type: contentType, trigger_source: triggerSource, run_id: runId } }];"
      },
      "id": "n003",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 420]
    },
    {
      "parameters": {
        "command": "cd /home/node/youtube_stack && .venv/bin/python3 -c \"from processors.planner import Planner; import json; p = Planner(); r = p.execute(); print(json.dumps(r))\""
      },
      "id": "n010",
      "name": "0. Plan",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [520, 420]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout;\nconst data = JSON.parse(raw);\nreturn [{ json: { ...data, content_type: $('Normalize Input').first().json.content_type, run_id: $('Normalize Input').first().json.run_id } }];"
      },
      "id": "n011",
      "name": "Parse Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 420]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/youtube_stack && .venv/bin/python3 -c \"from services.mattermost_service import MattermostService; mm = MattermostService(); mm.send_gate_message(0, \\'' + $json.summary + '\\', ' + JSON.stringify($json) + ', \\'' + $json.run_id + '\\')\"' }}"
      },
      "id": "n012",
      "name": "Gate 0 Message",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [960, 420]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "youtube-approve",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "n020",
      "name": "Approve Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [1200, 420]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "youtube-reject",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "n021",
      "name": "Reject Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [1200, 700]
    },
    {
      "parameters": {
        "jsCode": "const gate = parseInt($input.first().json.query.gate, 10);\nreturn [{ json: { gate } }];"
      },
      "id": "n022",
      "name": "Parse Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 420]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "outputIndex": 0, "conditions": { "conditions": [{ "leftValue": "={{ $json.gate }}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } }] } },
            { "outputIndex": 1, "conditions": { "conditions": [{ "leftValue": "={{ $json.gate }}", "rightValue": 1, "operator": { "type": "number", "operation": "equals" } }] } },
            { "outputIndex": 2, "conditions": { "conditions": [{ "leftValue": "={{ $json.gate }}", "rightValue": 2, "operator": { "type": "number", "operation": "equals" } }] } },
            { "outputIndex": 3, "conditions": { "conditions": [{ "leftValue": "={{ $json.gate }}", "rightValue": 3, "operator": { "type": "number", "operation": "equals" } }] } }
          ]
        },
        "options": {}
      },
      "id": "n023",
      "name": "Gate Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1640, 420]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/youtube_stack && .venv/bin/python3 scripts/fetch_game_data.py --type ' + $('Normalize Input').first().json.content_type + ' --run-id ' + $('Normalize Input').first().json.run_id }}"
      },
      "id": "n030",
      "name": "1. Fetch Game Data",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1920, 180]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout;\nconst data = JSON.parse(raw);\nreturn [{ json: { ...data, content_type: $('Normalize Input').first().json.content_type, run_id: $('Normalize Input').first().json.run_id } }];"
      },
      "id": "n031",
      "name": "Parse Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2140, 180]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/youtube_stack && .venv/bin/python3 -c \"from services.mattermost_service import MattermostService; mm = MattermostService(); mm.send_gate_message(1, \\'' + $json.summary + '\\', ' + JSON.stringify($json) + ', \\'' + $json.run_id + '\\')\"' }}"
      },
      "id": "n032",
      "name": "Gate 1 Message",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2360, 180]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/youtube_stack && .venv/bin/python3 scripts/generate_script.py --type ' + $('Normalize Input').first().json.content_type + ' --run-id ' + $('Normalize Input').first().json.run_id }}"
      },
      "id": "n040",
      "name": "2. Generate Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1920, 420]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout;\nconst data = JSON.parse(raw);\nreturn [{ json: { ...data, content_type: $('Normalize Input').first().json.content_type, run_id: $('Normalize Input').first().json.run_id } }];"
      },
      "id": "n041",
      "name": "Parse Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2140, 420]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/youtube_stack && .venv/bin/python3 scripts/validate_script.py --script-id ' + $json.script_id + ' --run-id ' + $json.run_id }}"
      },
      "id": "n042",
      "name": "2b. Validate Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2360, 420]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout;\nconst data = JSON.parse(raw);\nreturn [{ json: { ...data, content_type: $('Normalize Input').first().json.content_type, run_id: $('Normalize Input').first().json.run_id } }];"
      },
      "id": "n043",
      "name": "Parse Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2580, 420]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/youtube_stack && .venv/bin/python3 -c \"from services.mattermost_service import MattermostService; mm = MattermostService(); mm.send_gate_message(2, \\'' + $json.summary + '\\', ' + JSON.stringify($json) + ', \\'' + $json.run_id + '\\')\"' }}"
      },
      "id": "n044",
      "name": "Gate 2 Message",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2800, 420]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/youtube_stack && .venv/bin/python3 scripts/generate_metadata.py --script-id ' + $('Parse Validate').first().json.script_id + ' --run-id ' + $('Normalize Input').first().json.run_id }}"
      },
      "id": "n050",
      "name": "3. Generate Metadata",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1920, 660]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout;\nconst data = JSON.parse(raw);\nreturn [{ json: { ...data, content_type: $('Normalize Input').first().json.content_type, run_id: $('Normalize Input').first().json.run_id, script_id: $('Parse Validate').first().json.script_id } }];"
      },
      "id": "n051",
      "name": "Parse Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2140, 660]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/youtube_stack && .venv/bin/python3 scripts/generate_voiceover.py --script-id ' + $json.script_id + ' --run-id ' + $json.run_id }}"
      },
      "id": "n052",
      "name": "4. Generate Voiceover",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2360, 660]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout;\nconst data = JSON.parse(raw);\nreturn [{ json: { ...data, content_type: $('Normalize Input').first().json.content_type, run_id: $('Normalize Input').first().json.run_id } }];"
      },
      "id": "n053",
      "name": "Parse Voiceover",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2580, 660]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/youtube_stack && .venv/bin/python3 -c \"from services.mattermost_service import MattermostService; mm = MattermostService(); mm.send_gate_message(3, \\'' + $json.summary + '\\', ' + JSON.stringify($json) + ', \\'' + $json.run_id + '\\')\"' }}"
      },
      "id": "n054",
      "name": "Gate 3 Message",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2800, 660]
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/node/youtube_stack && .venv/bin/python3 scripts/update_rag.py --run-id ' + $('Normalize Input').first().json.run_id }}"
      },
      "id": "n060",
      "name": "5. Update RAG",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1920, 900]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: 'complete', run_id: $('Normalize Input').first().json.run_id, message: 'Pipeline finished successfully' } }];"
      },
      "id": "n061",
      "name": "Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2140, 900]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: 'rejected', gate: $input.first().json.query.gate, message: 'Pipeline rejected at gate ' + $input.first().json.query.gate } }];"
      },
      "id": "n070",
      "name": "Handle Reject",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 700]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "youtube-comment",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "n080",
      "name": "Comment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 900]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "youtube-dialog-submit",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "n081",
      "name": "Dialog Submit Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 1100]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "youtube-retry-script",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "n082",
      "name": "Retry Script Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 1300]
    }
  ],
  "connections": {
    "Saturday Schedule": {
      "main": [
        [{ "node": "Normalize Input", "type": "main", "index": 0 }]
      ]
    },
    "Manual Trigger": {
      "main": [
        [{ "node": "Normalize Input", "type": "main", "index": 0 }]
      ]
    },
    "Normalize Input": {
      "main": [
        [{ "node": "0. Plan", "type": "main", "index": 0 }]
      ]
    },
    "0. Plan": {
      "main": [
        [{ "node": "Parse Plan", "type": "main", "index": 0 }]
      ]
    },
    "Parse Plan": {
      "main": [
        [{ "node": "Gate 0 Message", "type": "main", "index": 0 }]
      ]
    },
    "Approve Webhook": {
      "main": [
        [{ "node": "Parse Gate", "type": "main", "index": 0 }]
      ]
    },
    "Reject Webhook": {
      "main": [
        [{ "node": "Handle Reject", "type": "main", "index": 0 }]
      ]
    },
    "Parse Gate": {
      "main": [
        [{ "node": "Gate Router", "type": "main", "index": 0 }]
      ]
    },
    "Gate Router": {
      "main": [
        [{ "node": "1. Fetch Game Data", "type": "main", "index": 0 }],
        [{ "node": "2. Generate Script", "type": "main", "index": 0 }],
        [{ "node": "3. Generate Metadata", "type": "main", "index": 0 }],
        [{ "node": "5. Update RAG", "type": "main", "index": 0 }]
      ]
    },
    "1. Fetch Game Data": {
      "main": [
        [{ "node": "Parse Fetch", "type": "main", "index": 0 }]
      ]
    },
    "Parse Fetch": {
      "main": [
        [{ "node": "Gate 1 Message", "type": "main", "index": 0 }]
      ]
    },
    "2. Generate Script": {
      "main": [
        [{ "node": "Parse Script", "type": "main", "index": 0 }]
      ]
    },
    "Parse Script": {
      "main": [
        [{ "node": "2b. Validate Script", "type": "main", "index": 0 }]
      ]
    },
    "2b. Validate Script": {
      "main": [
        [{ "node": "Parse Validate", "type": "main", "index": 0 }]
      ]
    },
    "Parse Validate": {
      "main": [
        [{ "node": "Gate 2 Message", "type": "main", "index": 0 }]
      ]
    },
    "3. Generate Metadata": {
      "main": [
        [{ "node": "Parse Metadata", "type": "main", "index": 0 }]
      ]
    },
    "Parse Metadata": {
      "main": [
        [{ "node": "4. Generate Voiceover", "type": "main", "index": 0 }]
      ]
    },
    "4. Generate Voiceover": {
      "main": [
        [{ "node": "Parse Voiceover", "type": "main", "index": 0 }]
      ]
    },
    "Parse Voiceover": {
      "main": [
        [{ "node": "Gate 3 Message", "type": "main", "index": 0 }]
      ]
    },
    "5. Update RAG": {
      "main": [
        [{ "node": "Complete", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "timezone": "Asia/Riyadh",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    { "name": "youtube" },
    { "name": "gaming" },
    { "name": "arabic" },
    { "name": "hitl-4gate" }
  ]
}
