pi_youtube_stack/n8n_workflow/workflow.json
{
  "name": "YouTube Pipeline (4-Gate HITL)",
  "nodes": [
    {
      "type": "n8n-nodes-base.scheduleTrigger",
      "name": "Saturday Schedule",
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "field": "cronExpression",
              "expression": "0 8 * * 6"
            }
          ]
        }
      },
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "id": "node_000"
    },
    {
      "type": "n8n-nodes-base.webhook",
      "name": "Manual Trigger",
      "parameters": {
        "path": "youtube-manual",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "typeVersion": 1.2,
      "webhookId": "youtube-manual",
      "position": [
        450,
        300
      ],
      "id": "node_001"
    },
    {
      "type": "n8n-nodes-base.code",
      "name": "Set Defaults",
      "parameters": {
        "jsCode": "function uuidv4(){return \"xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx\".replace(/[xy]/g,c=>{const r=Math.random()*16|0;return(c===\"x\"?r:(r&0x3|0x8)).toString(16);})}\nconst input = $input.first().json || {};\nconst body = input.body || input;\n// Determine content type from input or by week number\nlet ct = body.content_type || '';\nif (!ct) {\n  const now = new Date();\n  const start = new Date(now.getFullYear(), 0, 1);\n  const week = Math.ceil(((now - start) / 86400000 + start.getDay() + 1) / 7);\n  const types = ['upcoming_games', 'game_review', 'industry_news', 'monthly_games'];\n  ct = types[(week - 1) % 4];\n}\nreturn [{ json: { content_type: ct, run_id: uuidv4() } }];"
      },
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "id": "node_002"
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "name": "0. Generate Plan",
      "parameters": {
        "command": "={{ 'set -a && source /home/node/youtube_stack/.env && set +a && cd /home/node/youtube_stack && python -c \"from processors.planner import Planner; import json; p = Planner(); print(json.dumps(p.execute()))\" 2>/dev/null | tee /tmp/step0_out.txt && python3 -m pipeline.save_state ' + $json.run_id + ' /tmp/step0_out.txt' }}"
      },
      "typeVersion": 1,
      "position": [
        950,
        300
      ],
      "id": "node_003"
    },
    {
      "type": "n8n-nodes-base.code",
      "name": "Parse Plan",
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const plan = JSON.parse(lines[lines.length - 1]);\n  const result = { ...plan, run_id: $('Set Defaults').first().json.run_id };\n  return [{ json: result }];\n} catch (e) { throw new Error('Parse plan failed: ' + e.message); }"
      },
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "id": "node_004"
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "name": "Gate 0: Plan Approval",
      "parameters": {
        "command": "={{ 'set -a && source /home/node/youtube_stack/.env && set +a && cd /home/node/youtube_stack && echo ' + JSON.stringify(JSON.stringify({topic: ($json.proposed_topic || ''), type: ($json.proposed_content_type || ''), angle: ($json.proposed_angle || ''), games: (($json.game_slugs || []).join(', ')), reasoning: ($json.reasoning || ''), budget: ($json.budget_status || '')})) + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 0 --data-file /tmp/gate_data.json --run-id ' + $json.run_id }}"
      },
      "typeVersion": 1,
      "position": [
        1450,
        300
      ],
      "id": "node_005"
    },
    {
      "type": "n8n-nodes-base.webhook",
      "name": "Approval Webhook",
      "parameters": {
        "path": "youtube-approve",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "typeVersion": 1.2,
      "webhookId": "youtube-approve",
      "position": [
        1700,
        300
      ],
      "id": "node_006"
    },
    {
      "type": "n8n-nodes-base.code",
      "name": "Parse Gate Approval",
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst ctx = input.context || input.body?.context || input.body || input.query || input;\nreturn [{ json: {\n  gate: parseInt(ctx.gate ?? '0'),\n  run_id: ctx.run_id || '',\n  action: ctx.action || 'approve',\n  post_id: input.post_id || input.body?.post_id || '',\n  user_name: input.user_name || input.body?.user_name || ''\n}}];"
      },
      "typeVersion": 2,
      "position": [
        1950,
        300
      ],
      "id": "node_007"
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "name": "Update Post: Approved",
      "parameters": {
        "command": "={{ 'set -a && source /home/node/youtube_stack/.env && set +a && cd /home/node/youtube_stack && python -m pipeline.update_gate_post --post-id ' + ($('Parse Gate Approval').first().json.post_id || 'none') + ' --gate ' + String($('Parse Gate Approval').first().json.gate || 0) + ' --action approve --user ' + JSON.stringify($('Parse Gate Approval').first().json.user_name || '') }}"
      },
      "typeVersion": 1,
      "position": [
        200,
        500
      ],
      "id": "node_008"
    },
    {
      "type": "n8n-nodes-base.switch",
      "name": "Gate Router",
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Gate Approval').first().json.gate }}",
                    "operator": {
                      "operation": "equals"
                    },
                    "rightValue": 0
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Gate Approval').first().json.gate }}",
                    "operator": {
                      "operation": "equals"
                    },
                    "rightValue": 1
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Gate Approval').first().json.gate }}",
                    "operator": {
                      "operation": "equals"
                    },
                    "rightValue": 2
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Gate Approval').first().json.gate }}",
                    "operator": {
                      "operation": "equals"
                    },
                    "rightValue": 3
                  }
                ]
              }
            }
          ]
        }
      },
      "typeVersion": 3,
      "position": [
        450,
        500
      ],
      "id": "node_009"
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "name": "1. Fetch Game Data",
      "parameters": {
        "command": "={{ 'set -a && source /home/node/youtube_stack/.env && set +a && cd /home/node/youtube_stack && eval $(python3 -m pipeline.read_state ' + $('Parse Gate Approval').first().json.run_id + ') && python scripts/fetch_game_data.py 2>/dev/null | tee /tmp/step1_out.txt && python3 -m pipeline.save_state ' + $('Parse Gate Approval').first().json.run_id + ' /tmp/step1_out.txt' }}"
      },
      "typeVersion": 1,
      "position": [
        700,
        500
      ],
      "id": "node_010"
    },
    {
      "type": "n8n-nodes-base.code",
      "name": "Parse Fetch",
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  const result = { ...d, run_id: $('Parse Gate Approval').first().json.run_id };\n  return [{ json: result }];\n} catch(e) { return [{ json: { success: true, run_id: $('Parse Gate Approval').first().json.run_id } }]; }"
      },
      "typeVersion": 2,
      "position": [
        950,
        500
      ],
      "id": "node_011"
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "name": "Gate 1: News Approval",
      "parameters": {
        "command": "={{ 'set -a && source /home/node/youtube_stack/.env && set +a && cd /home/node/youtube_stack && echo ' + JSON.stringify(JSON.stringify({count: String($json.game_count || 0), type: ($json.content_type || ''), topic: ($json.topic || '')}) ) + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 1 --data-file /tmp/gate_data.json --run-id ' + $json.run_id }}"
      },
      "typeVersion": 1,
      "position": [
        1200,
        500
      ],
      "id": "node_012"
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "name": "2. Generate Script",
      "parameters": {
        "command": "={{ 'set -a && source /home/node/youtube_stack/.env && set +a && cd /home/node/youtube_stack && eval $(python3 -m pipeline.read_state ' + $('Parse Gate Approval').first().json.run_id + ') && python scripts/generate_script.py 2>/dev/null | tee /tmp/step2_out.txt && python3 -m pipeline.save_state ' + $('Parse Gate Approval').first().json.run_id + ' /tmp/step2_out.txt' }}"
      },
      "typeVersion": 1,
      "position": [
        1450,
        500
      ],
      "id": "node_013"
    },
    {
      "type": "n8n-nodes-base.code",
      "name": "Parse Script",
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  const result = { ...d, run_id: $('Parse Gate Approval').first().json.run_id };\n  return [{ json: result }];\n} catch(e) { throw new Error('Parse script failed: ' + e.message); }"
      },
      "typeVersion": 2,
      "position": [
        1700,
        500
      ],
      "id": "node_014"
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "name": "3. Validate Script",
      "parameters": {
        "command": "={{ 'set -a && source /home/node/youtube_stack/.env && set +a && cd /home/node/youtube_stack && python scripts/validate_script.py --script-id ' + $json.script_id + ' 2>/dev/null | tee /tmp/step3_out.txt && python3 -m pipeline.save_state ' + $json.run_id + ' /tmp/step3_out.txt' }}"
      },
      "typeVersion": 1,
      "position": [
        1950,
        500
      ],
      "id": "node_015"
    },
    {
      "type": "n8n-nodes-base.code",
      "name": "Parse Validation",
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  const result = { ...d, run_id: $('Parse Gate Approval').first().json.run_id };\n  return [{ json: result }];\n} catch(e) { throw new Error('Parse validation failed: ' + e.message); }"
      },
      "typeVersion": 2,
      "position": [
        200,
        700
      ],
      "id": "node_016"
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "name": "Gate 2: Script Approval",
      "parameters": {
        "command": "={{ 'set -a && source /home/node/youtube_stack/.env && set +a && cd /home/node/youtube_stack && ' + (() => { const overall = ($json.overall_score || 0); const scriptText = ($('Parse Script').first().json.script_text || '').substring(0, 3000); const data = { Score: String(overall) + '/100', script_body: scriptText }; return 'echo ' + JSON.stringify(JSON.stringify(data)) + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 2 --data-file /tmp/gate_data.json --run-id ' + $json.run_id; })() }}"
      },
      "typeVersion": 1,
      "position": [
        450,
        700
      ],
      "id": "node_017"
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "name": "4. Generate Metadata",
      "parameters": {
        "command": "={{ 'set -a && source /home/node/youtube_stack/.env && set +a && cd /home/node/youtube_stack && eval $(python3 -m pipeline.read_state ' + $('Parse Gate Approval').first().json.run_id + ') && python scripts/generate_metadata.py --script-id $SCRIPT_ID 2>/dev/null | tee /tmp/step4_meta_out.txt && python3 -m pipeline.save_state ' + $('Parse Gate Approval').first().json.run_id + ' /tmp/step4_meta_out.txt' }}"
      },
      "typeVersion": 1,
      "position": [
        700,
        700
      ],
      "id": "node_018"
    },
    {
      "type": "n8n-nodes-base.code",
      "name": "Parse Metadata",
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  const result = { ...d, run_id: $('Parse Gate Approval').first().json.run_id };\n  return [{ json: result }];\n} catch(e) { throw new Error('Parse metadata failed: ' + e.message); }"
      },
      "typeVersion": 2,
      "position": [
        950,
        700
      ],
      "id": "node_019"
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "name": "5. Generate Voiceover",
      "parameters": {
        "command": "={{ 'set -a && source /home/node/youtube_stack/.env && set +a && cd /home/node/youtube_stack && eval $(python3 -m pipeline.read_state ' + $('Parse Gate Approval').first().json.run_id + ') && python scripts/generate_voiceover.py --script-id $SCRIPT_ID 2>/dev/null | tee /tmp/step5_vo_out.txt && python3 -m pipeline.save_state ' + $('Parse Gate Approval').first().json.run_id + ' /tmp/step5_vo_out.txt' }}"
      },
      "typeVersion": 1,
      "position": [
        1200,
        700
      ],
      "id": "node_020"
    },
    {
      "type": "n8n-nodes-base.code",
      "name": "Parse Voiceover",
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst stderr = $input.first().json.stderr || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  if (d.error) throw new Error('Voiceover failed: ' + d.error);\n  const result = { ...d, run_id: $('Parse Gate Approval').first().json.run_id };\n  return [{ json: result }];\n} catch(e) {\n  const errMatch = stderr.match(/Error: (.+)/);\n  throw new Error('Parse voiceover failed: ' + (errMatch ? errMatch[1] : e.message));\n}"
      },
      "typeVersion": 2,
      "position": [
        1450,
        700
      ],
      "id": "node_021"
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "name": "Gate 3: Voiceover Approval",
      "parameters": {
        "command": "={{ 'set -a && source /home/node/youtube_stack/.env && set +a && cd /home/node/youtube_stack && echo ' + JSON.stringify(JSON.stringify({duration: String($json.duration || 0) + 's', file_path: ($json.file_path || '')})) + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 3 --data-file /tmp/gate_data.json --run-id ' + $json.run_id + ' --file-paths ' + ($json.file_path || '') }}"
      },
      "typeVersion": 1,
      "position": [
        1700,
        700
      ],
      "id": "node_022"
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "name": "6. Update RAG",
      "parameters": {
        "command": "={{ 'set -a && source /home/node/youtube_stack/.env && set +a && cd /home/node/youtube_stack && eval $(python3 -m pipeline.read_state ' + $('Parse Gate Approval').first().json.run_id + ') && python scripts/update_rag.py --script-id $SCRIPT_ID 2>/dev/null' }}"
      },
      "typeVersion": 1,
      "position": [
        1950,
        700
      ],
      "id": "node_023"
    },
    {
      "type": "n8n-nodes-base.code",
      "name": "Pipeline Complete",
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: \"✅ YouTube pipeline complete.\" } }];"
      },
      "typeVersion": 2,
      "position": [
        200,
        900
      ],
      "id": "node_024"
    },
    {
      "type": "n8n-nodes-base.webhook",
      "name": "Rejection Webhook",
      "parameters": {
        "path": "youtube-reject",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "typeVersion": 1.2,
      "webhookId": "youtube-reject",
      "position": [
        450,
        900
      ],
      "id": "node_025"
    },
    {
      "type": "n8n-nodes-base.code",
      "name": "Handle Rejection",
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst ctx = input.context || input.body?.context || input.body || input.query || input;\nconst gate = parseInt(ctx.gate || '0');\nconst names = {0:'Plan',1:'News/Data',2:'Script',3:'Voiceover'};\nreturn [{json: {success: false, message: '❌ Rejected at Gate ' + gate + ' (' + names[gate] + ').', gate, run_id: ctx.run_id || '', post_id: input.post_id || input.body?.post_id || '', user_name: input.user_name || input.body?.user_name || ''}}];"
      },
      "typeVersion": 2,
      "position": [
        700,
        900
      ],
      "id": "node_026"
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "name": "Update Post: Rejected",
      "parameters": {
        "command": "={{ 'set -a && source /home/node/youtube_stack/.env && set +a && cd /home/node/youtube_stack && python -m pipeline.update_gate_post --post-id ' + ($json.post_id || 'none') + ' --gate ' + String($json.gate || 0) + ' --action reject --user ' + JSON.stringify($json.user_name || '') }}"
      },
      "typeVersion": 1,
      "position": [
        950,
        900
      ],
      "id": "node_027"
    },
    {
      "type": "n8n-nodes-base.webhook",
      "name": "Comment Webhook",
      "parameters": {
        "path": "youtube-comment",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "typeVersion": 1.2,
      "webhookId": "youtube-comment",
      "position": [
        1200,
        900
      ],
      "id": "node_028"
    },
    {
      "type": "n8n-nodes-base.code",
      "name": "Open Comment Dialog",
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nconst triggerId = body.trigger_id || '';\nconst ctx = body.context || {};\nconst gate = ctx.gate !== undefined ? ctx.gate : 0;\nconst runId = ctx.run_id || '';\nif (!triggerId) return [{ json: { error: 'No trigger_id' } }];\nconst dialogPayload = {\n  trigger_id: triggerId,\n  url: 'http://192.168.0.11:5678/webhook/youtube-dialog-submit',\n  dialog: {\n    callback_id: 'comment_gate_' + gate + '_' + runId,\n    title: '\\u{1F4AC} \\u062a\\u0639\\u0644\\u064a\\u0642 \\u2014 Gate ' + gate,\n    submit_label: '\\u0625\\u0631\\u0633\\u0627\\u0644',\n    state: JSON.stringify({ gate, run_id: runId }),\n    elements: [{ display_name: '\\u0627\\u0644\\u062a\\u0639\\u0644\\u064a\\u0642', name: 'comment_text', type: 'textarea', placeholder: '\\u0627\\u0643\\u062a\\u0628 \\u062a\\u0639\\u0644\\u064a\\u0642\\u0643 \\u0647\\u0646\\u0627...', optional: false }]\n  }\n};\nconst resp = await this.helpers.httpRequest({\n  method: 'POST', url: 'http://192.168.0.11:8065/api/v4/actions/dialogs/open',\n  headers: { 'Authorization': 'Bearer ph8ex4g9dfrkurz34kan5cpwnh', 'Content-Type': 'application/json' },\n  body: dialogPayload, returnFullResponse: true, ignoreHttpStatusErrors: true,\n});\nreturn [{ json: { status: 'dialog_opened', gate, run_id: runId } }];"
      },
      "typeVersion": 2,
      "position": [
        1450,
        900
      ],
      "id": "node_029"
    },
    {
      "type": "n8n-nodes-base.webhook",
      "name": "Dialog Submit Webhook",
      "parameters": {
        "path": "youtube-dialog-submit",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "typeVersion": 1.2,
      "webhookId": "youtube-dialog-submit",
      "position": [
        1700,
        900
      ],
      "id": "node_030"
    },
    {
      "type": "n8n-nodes-base.code",
      "name": "Parse Dialog Submission",
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nconst submission = body.submission || {};\nconst state = JSON.parse(body.state || '{}');\nreturn [{ json: {\n  gate: parseInt(state.gate || '0'),\n  run_id: state.run_id || '',\n  comment: submission.comment_text || '',\n  action: 'comment'\n}}];"
      },
      "typeVersion": 2,
      "position": [
        1950,
        900
      ],
      "id": "node_031"
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "name": "Handle Comment",
      "parameters": {
        "command": "={{ 'set -a && source /home/node/youtube_stack/.env && set +a && cd /home/node/youtube_stack && python -m pipeline.comment_handler --run-id ' + ($json.run_id || 'unknown') + ' --gate ' + String($json.gate || 0) + ' --comment ' + JSON.stringify($json.comment || 'no comment') + ' 2>/dev/null' }}"
      },
      "typeVersion": 1,
      "position": [
        200,
        1100
      ],
      "id": "node_032"
    },
    {
      "type": "n8n-nodes-base.code",
      "name": "Check Comment Result",
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  return [{ json: d }];\n} catch(e) {\n  return [{ json: { rewrite_triggered: false } }];\n}"
      },
      "typeVersion": 2,
      "position": [
        450,
        1100
      ],
      "id": "node_033"
    },
    {
      "type": "n8n-nodes-base.switch",
      "name": "Comment Result Router",
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.rewrite_triggered }}",
                    "operator": {
                      "operation": "equals"
                    },
                    "rightValue": true
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.generation_failed }}",
                    "operator": {
                      "operation": "equals"
                    },
                    "rightValue": true
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.rewrite_triggered }}",
                    "operator": {
                      "operation": "equals"
                    },
                    "rightValue": false
                  }
                ]
              }
            }
          ]
        }
      },
      "typeVersion": 3,
      "position": [
        700,
        1100
      ],
      "id": "node_034"
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "name": "Comment Rewrite Gate 2",
      "parameters": {
        "command": "={{ 'set -a && source /home/node/youtube_stack/.env && set +a && cd /home/node/youtube_stack && ' + (() => { const d = $json; const data = { Score: String(d.overall_score || 0) + '/100', script_body: (d.script_text || '').substring(0, 3000) }; return 'echo ' + JSON.stringify(JSON.stringify(data)) + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 2 --data-file /tmp/gate_data.json --run-id ' + (d.run_id || ''); })() }}"
      },
      "typeVersion": 1,
      "position": [
        950,
        1100
      ],
      "id": "node_035"
    },
    {
      "type": "n8n-nodes-base.code",
      "name": "Comment End: Failed",
      "parameters": {
        "jsCode": "return [{ json: { status: \"comment_rewrite_failed\", message: \"Generation failed - notification already sent.\" } }];"
      },
      "typeVersion": 2,
      "position": [
        1200,
        1100
      ],
      "id": "node_036"
    },
    {
      "type": "n8n-nodes-base.code",
      "name": "Comment End: Stored",
      "parameters": {
        "jsCode": "return [{ json: { status: \"comment_stored\" } }];"
      },
      "typeVersion": 2,
      "position": [
        1450,
        1100
      ],
      "id": "node_037"
    },
    {
      "type": "n8n-nodes-base.webhook",
      "name": "Retry Script Webhook",
      "parameters": {
        "path": "youtube-retry-script",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "typeVersion": 1.2,
      "webhookId": "youtube-retry-script",
      "position": [
        1700,
        1100
      ],
      "id": "node_038"
    },
    {
      "type": "n8n-nodes-base.code",
      "name": "Parse Retry Params",
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst query = input.query || input.body || input;\nconst runId = query.run_id || '';\nif (!runId) throw new Error('Missing run_id in retry request');\nconst fs = require('fs');\nconst state = JSON.parse(fs.readFileSync('/tmp/pipeline_state_' + runId + '.json', 'utf8'));\nreturn [{ json: { run_id: runId, content_type: state.content_type || state.proposed_content_type || '' } }];"
      },
      "typeVersion": 2,
      "position": [
        1950,
        1100
      ],
      "id": "node_039"
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "name": "Retry Write Script",
      "parameters": {
        "command": "={{ 'set -a && source /home/node/youtube_stack/.env && set +a && cd /home/node/youtube_stack && eval $(python3 -m pipeline.read_state ' + $json.run_id + ') && python scripts/generate_script.py 2>/dev/null | tee /tmp/step2_retry_out.txt && python3 -m pipeline.save_state ' + $json.run_id + ' /tmp/step2_retry_out.txt' }}"
      },
      "typeVersion": 1,
      "position": [
        200,
        1300
      ],
      "id": "node_040"
    },
    {
      "type": "n8n-nodes-base.code",
      "name": "Parse Retry Script",
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  const result = { ...d, run_id: $('Parse Retry Params').first().json.run_id };\n  return [{ json: result }];\n} catch(e) { throw new Error('Parse retry script failed: ' + e.message); }"
      },
      "typeVersion": 2,
      "position": [
        450,
        1300
      ],
      "id": "node_041"
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "name": "Retry Validate Script",
      "parameters": {
        "command": "={{ 'set -a && source /home/node/youtube_stack/.env && set +a && cd /home/node/youtube_stack && python scripts/validate_script.py --script-id ' + $json.script_id + ' 2>/dev/null | tee /tmp/step3_retry_out.txt && python3 -m pipeline.save_state ' + $json.run_id + ' /tmp/step3_retry_out.txt' }}"
      },
      "typeVersion": 1,
      "position": [
        700,
        1300
      ],
      "id": "node_042"
    },
    {
      "type": "n8n-nodes-base.code",
      "name": "Parse Retry Validation",
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\ntry {\n  const d = JSON.parse(lines[lines.length - 1]);\n  const result = { ...d, run_id: $('Parse Retry Params').first().json.run_id };\n  return [{ json: result }];\n} catch(e) { throw new Error('Parse retry validation failed: ' + e.message); }"
      },
      "typeVersion": 2,
      "position": [
        950,
        1300
      ],
      "id": "node_043"
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "name": "Retry Gate 2",
      "parameters": {
        "command": "={{ 'set -a && source /home/node/youtube_stack/.env && set +a && cd /home/node/youtube_stack && ' + (() => { const overall = ($json.overall_score || 0); const scriptText = ($('Parse Retry Script').first().json.script_text || '').substring(0, 3000); const data = { Score: String(overall) + '/100', script_body: scriptText }; return 'echo ' + JSON.stringify(JSON.stringify(data)) + ' > /tmp/gate_data.json && python -m pipeline.gate_helper --gate 2 --data-file /tmp/gate_data.json --run-id ' + $json.run_id; })() }}"
      },
      "typeVersion": 1,
      "position": [
        1200,
        1300
      ],
      "id": "node_044"
    }
  ],
  "connections": {
    "Saturday Schedule": {
      "main": [
        [
          {
            "node": "Set Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Defaults": {
      "main": [
        [
          {
            "node": "0. Generate Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "0. Generate Plan": {
      "main": [
        [
          {
            "node": "Parse Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Plan": {
      "main": [
        [
          {
            "node": "Gate 0: Plan Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Webhook": {
      "main": [
        [
          {
            "node": "Parse Gate Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gate Approval": {
      "main": [
        [
          {
            "node": "Update Post: Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Post: Approved": {
      "main": [
        [
          {
            "node": "Gate Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Router": {
      "main": [
        [
          {
            "node": "1. Fetch Game Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "2. Generate Script",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4. Generate Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "6. Update RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Fetch Game Data": {
      "main": [
        [
          {
            "node": "Parse Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Fetch": {
      "main": [
        [
          {
            "node": "Gate 1: News Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Generate Script": {
      "main": [
        [
          {
            "node": "Parse Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Script": {
      "main": [
        [
          {
            "node": "3. Validate Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Validate Script": {
      "main": [
        [
          {
            "node": "Parse Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validation": {
      "main": [
        [
          {
            "node": "Gate 2: Script Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Generate Metadata": {
      "main": [
        [
          {
            "node": "Parse Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Metadata": {
      "main": [
        [
          {
            "node": "5. Generate Voiceover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Generate Voiceover": {
      "main": [
        [
          {
            "node": "Parse Voiceover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Voiceover": {
      "main": [
        [
          {
            "node": "Gate 3: Voiceover Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Update RAG": {
      "main": [
        [
          {
            "node": "Pipeline Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rejection Webhook": {
      "main": [
        [
          {
            "node": "Handle Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Rejection": {
      "main": [
        [
          {
            "node": "Update Post: Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment Webhook": {
      "main": [
        [
          {
            "node": "Open Comment Dialog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dialog Submit Webhook": {
      "main": [
        [
          {
            "node": "Parse Dialog Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Dialog Submission": {
      "main": [
        [
          {
            "node": "Handle Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Comment": {
      "main": [
        [
          {
            "node": "Check Comment Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Comment Result": {
      "main": [
        [
          {
            "node": "Comment Result Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment Result Router": {
      "main": [
        [
          {
            "node": "Comment Rewrite Gate 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment End: Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment End: Stored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Script Webhook": {
      "main": [
        [
          {
            "node": "Parse Retry Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Retry Params": {
      "main": [
        [
          {
            "node": "Retry Write Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Write Script": {
      "main": [
        [
          {
            "node": "Parse Retry Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Retry Script": {
      "main": [
        [
          {
            "node": "Retry Validate Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Validate Script": {
      "main": [
        [
          {
            "node": "Parse Retry Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Retry Validation": {
      "main": [
        [
          {
            "node": "Retry Gate 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Asia/Riyadh",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}